<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style/account/posts.css">
        <!-- set `maximum-scale` for some compatibility issues -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <!-- Delete the default Apple toolbar and menu bar -->
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <!-- Control status bar display style -->
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <!-- Will not recognize the mailbox, tell the device to ignore the number in the page as a phone number -->
        <meta content="telephone=no" name="format-detection"/>
        <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
        <script>
            if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body)
            }, false);
            }
            if(!window.Promise) {
            document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
            }
        </script>
        <% include ../common/mobile-script %>
    </head>
    <body>
        <div class="ghost-layout">
            <% include ../common/header %>
            <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">

                <div class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide" style="margin-bottom: 24px">
                    <main class="ghost-pro-pages-account-settings-info-main">
                        <aside class="ghost-pro-pages-account-settings-info-leftmenu">
                            <% include ./list %>
                        </aside>
                        <div class="ghost-pro-pages-account-settings-info-right">
                            <div class="ghost-pro-pages-account-settings-info-title">
                                <span>我的收藏</span>
                            </div>
                            <div class="ghost-card-body">
                                <div class="ghost-list ghost-list-vertical ghost-list-split">
                                    <div class="ghost-spin-nested-loading">
                                        <% collectList.articleList.forEach(function(item) {%>
                                        <div class="ghost-list-item collect-item bd-bottom">
                                            <div class="ghost-list-item-main list-box">
                                                <div class="ghost-list-item-main">
                                                    <div class="ghost-list-item-meta-content">
                                                        <h4 class="ghost-list-item-meta-title"><%= item.articleTitle %></h4>
                                                    </div>
                                                    <div class="ghost-list-item-meta-article-content"><%- item.articleContent %></div>
                                                </div>
                                                <ul class="ghost-list-item-action">
                                                    <li class="list-item">
                                                        <a>
                                                            <%= item.viewCount %> 阅读
                                                        </a>
                                                    </li>
                                                    <li class="list-item">
                                                        <span>
                                                            <%= item.commentCount %> 评论
                                                        </span>
                                                    </li>
                                                    <li class="list-item">
                                                        <span>
                                                            <%= item.collectCount %> 收藏
                                                        </span>
                                                    </li>
                                                    <li class="list-item">
                                                        <span>
                                                            <%= item.likeCount %> 喜欢
                                                        </span>
                                                    </li>
                                                    <li class="list-item">
                                                        <span class="time">
                                                            <%= item.publishTime %>
                                                        </span>
                                                    </li>
                                                    <% if (item.articleLabel) { %>
                                                    <li class="source-type">
                                                        <% item.articleLabel.forEach(function(labelItem) {%>
                                                        <span class="article-source bd-radius-3"><%= labelItem %></span>
                                                        <% }) %>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                            <div class="ghost-list-item-extra">
                                                <ul class="ghost-list-item-action">
                                                    <li>
                                                        <div class="ghost-list-item-id" style="display: none"><%= item.articleId %></div>
                                                        <button style="font-size: 12px" class="ghost-btn ghost-btn-primary">取消收藏</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <% }) %>   
                                    </div>
                                    
                                </div>
                            </div>
                            <% if (collectList.length > 0) { %>
                                <ul class="ghost-pagination article_page" style="margin: 24px 0; text-align: center"></ul>
                            <% } %>
                            <input type="hidden" id="totalPages" value="<%= collectList.total %>" style="display: none" />
                            <% if (collectList.articleList.length < 1) { %>
                                <div class="ghost-empty">
                                        <dvi class="ghost-empty-image">
                                            <img src="/images/no_collect.png" alt="">
                                        </dvi>
                                        <p class="ghost-empty-description">暂无收藏</p>
                                    </div>
                            <% } %>
                            <div class="ghost-loading-mask" style="display: none">
                                <div class="ghost-loading-spinner">
                                    <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(function() {
            // init pagination config
            $('.ghost-pagination').pagination({
                total: document.getElementById('totalPages').value,
                // total: 100,
                pageSize: 10,
                current: 1,
                coping: true,
                isHide: true,
                callback: api => {
                    $('.ghost-loading-mask').css('display', 'block')
                    const currentPage = api.getCurrent()
                    const url = `account/collect/${$.cookie("userId")}/${currentPage}`;
                    myAjax('GET', url).then(res => {
                        if (res.code === 1) {
                            $("#myArticleTemplate").empty()
                            console.log(res)
                            res.articleList.forEach(item => {
                                $("#myArticleTemplate").append(renderCollectHtml(item))
                            })
                            setTimeout(function() {
                                $('.ghost-loading-mask').css('display', 'none')
                            }, 500) 
                        }
                    })
                }
            });
            // go to article detail
            $(".list-box").each(function() {
                $(this).on("click", function(event) {
                    event.stopPropagation();
                    articleId = $(this).next(".ghost-list-item-extra").find(".ghost-list-item-id").text();
                    const url = 'post/articleDetail/' + articleId;
                    myAjax("POST", "post/addView", { articleId: articleId, userId: $.cookie("userId") })
                    goPage(url);
                })
            });
            $(".time").each(function() {
                let resTime = formatDateFilter($(this).text())
                $(this).text(resTime)
            });
            $(".ghost-btn").each(function(event) {
                $(this).on("click", function(event) {
                    event.stopPropagation();
                    let itemId = $(this).prev().text();
                    let param = {
                        userId: $.cookie("userId"),
                        articleId: itemId
                    }
                    myAjax("POST", 'account/removeCollect', param).then((res) => {
                        if (res.code == 1) {
                            $(this).parents(".ghost-list-item").remove()
                        } else {
                            console.log(res.message)
                        }
                    })
                })
            })
        })
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        function renderCollectHtml(item) {
            return `
                <div class="ghost-list-item collect-item bd-bottom">
                    <div class="ghost-list-item-main list-box">
                        <div class="ghost-list-item-main">
                            <div class="ghost-list-item-meta-content">
                                <div class="ghost-list-item-meta-content">
                                    <h4 class="ghost-list-item-meta-title">${ item.articleTitle }</h4>
                                </div>
                                <div class="ghost-list-item-meta-article-content">${ item.articleContent }</div>
                            </div>
                            <ul class="ghost-list-item-action">
                                <li class="list-item">
                                    <a>
                                        ${ item.viewCount } 阅读
                                    </a>
                                </li>
                                <li class="list-item">
                                    <span>
                                        ${ item.commentCount } 评论
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span>
                                        ${ item.collectCount } 收藏
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span>
                                        ${ item.likeCount } 喜欢
                                    </span>
                                </li>
                                <li class="list-item">
                                    <span class="time">
                                        ${ filterTime(item.publishTime) }
                                    </span>
                                </li>
                                ${ renderArticleLabel(item.articleLabel) }
                            </ul>
                        </div>
                    </div>
                    <div class="ghost-list-item-extra">
                        <div class="ghost-list-item-id" style="display: none">${ item.articleId }</div>
                        <button style="width: 80px; font-size: 12px" class="ghost-btn ghost-btn-primary">取消收藏</button>
                    </div>
                </div>
            `
        }
        function renderArticleLabel(item) {
            if (item && item.length > 0) { 
                let labelDom = '';
                item.split(',').forEach(labelItem => {
                    labelDom += `<span class="article-source bd-radius-3">${ labelItem }</span>`
                })
                return `<li class="source-type">
                    ${ labelDom }
                </li>`
            } else {
                return '';
            }
        }
    </script>
</html>



