<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style/account/posts.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <% include ../common/script %>
    </head>
    <body>
        <div class="ghost-layout">
            <% include ../common/header %>
            <% include ../common/appHeader %>
            <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                <div class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                    <main class="ghost-pro-pages-account-settings-info-main">
                        <aside class="ghost-pro-pages-account-settings-info-leftmenu web-display">
                            <% include ./list %>
                        </aside>
                        <div class="ghost-pro-pages-account-settings-info-right">
                            <div class="ghost-pro-pages-account-settings-info-title web-display">
                                <span>我的帖子</span>
                            </div>
                            <div class="ghost-card-body">
                                <div class="ghost-list ghost-list-vertical ghost-list-split">
                                    <div class="ghost-spin-nested-loading">
                                        <div class="ghost-spin-container" id="myArticleTemplate">
                                            <% myArticleList.articleList.forEach(function(item) {%>
                                                <div class="ghost-list-item bd-bottom">
                                                    <div class="ghost-list-item-main">
                                                        <div class="ghost-list-item-meta-content">
                                                            <div class="ghost-list-item-meta-content item-title-box">
                                                                <h4 class="ghost-list-item-meta-title article_title">
                                                                    <% if(item.isDrafts) { %>
                                                                        <span style="margin-right: 4px" class="ghost-tag ghost-tag-has-color ghost-tag-color-warning app-isDrafts">草稿</span>
                                                                        <span class="isDrafts" style="display:none"><%= item.isDrafts %></span>
                                                                    <% } %>
                                                                    <span class="item-title"><%= item.articleTitle %></span>
                                                                </h4>
                                                            </div>
                                                            <div class="ghost-list-item-meta-article-content"><%- item.articleContent %></div>
                                                        </div>

                                                        <ul class="ghost-list-item-action">
                                                            <li class="list-item web-display">
                                                                <a>
                                                                    <%= item.viewCount %> 阅读
                                                                </a>
                                                            </li>
                                                            <li class="list-item web-display">
                                                                <span>
                                                                    <%= item.commentCount %> 评论
                                                                </span>
                                                            </li>
                                                            <li class="list-item web-display">
                                                                <span>
                                                                    <%= item.collectCount %> 收藏
                                                                </span>
                                                            </li>
                                                            <li class="list-item web-display">
                                                                <span>
                                                                    <%= item.likeCount %> 喜欢
                                                                </span>
                                                            </li>
                                                            <li class="list-item web-display">
                                                                <span class="time">
                                                                    <%= item.publishTime %>
                                                                </span>
                                                            </li>
                                                            <% if (item.articleLabel && item.articleLabel != '' ) { %>
                                                            <li class="list-item">
                                                                <% item.articleLabel.forEach(function(labelItem) {%>
                                                                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-type)"><%= labelItem %></span>
                                                                <% }) %>
                                                            </li>
                                                            <% } %>
                                                            <li class="app-time app-display">
                                                                <span class="time">
                                                                    <%= item.publishTime %>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="ghost-list-item-extra">
                                                        <div class="ghost-list-item-id" style="display: none"><%= item.articleId %></div>
                                                        <ul class="ghost-list-item-action">
                                                            <li class="edit_icon">
                                                                <a>
                                                                    <svg class="iconSvg" aria-hidden="true" style="color: #554df5; font-size: 20px">
                                                                        <use xlink:href="#icon-iconfontedit"></use>
                                                                    </svg>
                                                                </a>
                                                                <em class="ghost-list-item-ghostion-split"></em>
                                                            </li>
                                                            <li class="delete_icon">
                                                                <a>
                                                                    <svg class="iconSvg" aria-hidden="true" style="color: #f81c23; font-size: 18px">
                                                                        <use xlink:href="#icon-shanchu"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            <% }) %>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if (myArticleList.articleList.length > 0) { %>
                                <ul class="ghost-pagination article_page" style="margin: 24px 0; text-align: center"></ul>
                            <% } %>
                            <input type="hidden" id="totalPages" value="<%= myArticleList.total %>" style="display: none" />
                            <% if (myArticleList.articleList.length < 1) { %>
                                <div class="ghost-empty">
                                    <dvi class="ghost-empty-image">
                                        <img src="/images/no_data.png" alt="">
                                    </dvi>
                                    <p class="ghost-empty-description">暂无相关文章</p>
                                </div>
                            <% } %>
                            <div class="ghost-loading-mask" style="display: none">
                                <div class="ghost-loading-spinner">
                                    <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                </div>
                            </div>
                            <div class="confirm_box">
                                <div class="content_box">
                                    <div class="delete_tip">确定删除文章？</div>
                                    <div class="confirm_btn_box">
                                        <div class="btn_item sure">确定</div>
                                        <div class="btn_item cancel">取消</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(function() {
            let deleteTitel, articleId, curDom;
            // app title
            $('.app-page-title').text('我的帖子')
            // init pagination config
            $('.ghost-pagination').pagination({
                total: document.getElementById('totalPages').value,
                // total: 100,
                pageSize: 10,
                current: 1,
                coping: true,
                isHide: true,
                callback: api => {
                    $('.ghost-loading-mask').css('display', 'block')
                    const currentPage = api.getCurrent()
                    const url = `account/posts/${$.cookie("nickName")}/${currentPage}`;
                    myAjax('GET', url).then(res => {
                        if (res.code === 1) {
                            $("#myArticleTemplate").empty()
                            console.log(res)
                            res.articleList.forEach(item => {
                                $("#myArticleTemplate").append(renderArticleHtml(item))
                            })
                            setTimeout(function() {
                                $('.ghost-loading-mask').css('display', 'none')
                            }, 500) 
                        }
                    })
                }
            })

            $('.ghost-list-item-meta-article-content').each(function() {
                let showContent = ''
                dealPostList(JSON.parse($(this).text())).forEach(item => {
                    showContent += item.value
                })
                $(this).html(showContent)
            })
            $(".time").each(function() {
                let resTime = formatDateFilter($(this).text())
                $(this).text(resTime)
            });
            // go to article detail
            $("#myArticleTemplate").on("click", ".ghost-list-item-main", function(event) {
                event.stopPropagation();
                articleId = $(this).next(".ghost-list-item-extra").find(".ghost-list-item-id").text();
                if ($(this).find(".isDrafts").text()) {
                    let url = 'post/publish/' + articleId;
                    goPage(url);
                } else {
                    let url = 'post/articleDetail/' + articleId;
                    myAjax("POST", "post/addView", { articleId: articleId, userId: $.cookie("userId") })
                    goPage(url);
                }
            })
            // show confirm dom
            $("#myArticleTemplate").on("click", ".delete_icon", function(event) {
                event.stopPropagation();
                curDom = $(this).parents(".ghost-list-item");
                articleId = $(this).parents(".ghost-list-item-extra").find(".ghost-list-item-id").text();
                $(".cur_title").remove();
                deleteTitel = $(this).parents(".ghost-list-item").find(".ghost-list-item-meta-title .item-title").text();
                $(".confirm_box").css("display", "block");
                $(".delete_tip").before(`<div class="cur_title">${deleteTitel}</div>`)
            })
            // sure delete
            $(".sure").on("click", function() {
                let param = {
                    userId: $.cookie("userId"),
                    articleId: articleId,
                }
                myAjax("POST", "account/deleteArticle", param).then((res) => {
                    if (res.code == 1) {
                        curDom.remove();
                        $(".confirm_box").css("display", "none");

                    } else {
                        console.log(res.message)
                    }
                })
            })
            // cancel delete
            $(".cancel").on("click", function() {
                $(".confirm_box").css("display", "none");
            })
            // edit article
            $("#myArticleTemplate").on("click", ".edit_icon", function(event) {
                articleId = $(this).parents(".ghost-list-item-extra").find(".ghost-list-item-id").text();
                let url = 'post/publish/' + articleId;
                goPage(url);
            })
        })
        function isDrafts(item) {
            if (item.isDrafts) {
                return `
                    <span style="margin-right: 4px" class="ghost-tag ghost-tag-has-color ghost-tag-color-warning app-isDrafts">草稿</span>
                    <span class="isDrafts" style="display:none">${ item.isDrafts }</span>
                `
            } else {
                return '';
            }
        }
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        function showText(content) {
            let showContent = ''
            dealPostList(JSON.parse(content)).forEach(item => {
                showContent += item.value
            })
            return showContent
        }
        function renderArticleHtml(item) {
            return `<div class="ghost-list-item bd-bottom">
                        <div class="ghost-list-item-main">
                            <div class="ghost-list-item-meta-content">
                                <div class="ghost-list-item-meta-content item-title-box">
                                    <h4 class="ghost-list-item-meta-title">
                                        ${isDrafts(item)}
                                        <span class="item-title">${ item.articleTitle }</span>
                                    </h4>
                                </div>
                                <div class="ghost-list-item-meta-article-content">${ showText(item.articleContent) }</div>
                            </div>
                            <ul class="ghost-list-item-action">
                                <li class="list-item web-display">
                                    <a>
                                        ${ item.viewCount } 阅读
                                    </a>
                                </li>
                                <li class="list-item web-display">
                                    <span>
                                        ${ item.commentCount } 评论
                                    </span>
                                </li>
                                <li class="list-item web-display">
                                    <span>
                                        ${ item.collectCount } 收藏
                                    </span>
                                </li>
                                <li class="list-item web-display">
                                    <span>
                                        ${ item.likeCount } 喜欢
                                    </span>
                                </li>
                                <li class="list-item web-display">
                                    <span class="time">
                                        ${ filterTime(item.publishTime) }
                                    </span>
                                </li>
                                ${ renderArticleLabel(item.articleLabel) }
                                <li class="app-time app-display">
                                    <span class="time">
                                        ${ filterTime(item.publishTime) }
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="ghost-list-item-extra">
                            <div class="ghost-list-item-id" style="display: none">${ item.articleId }</div>
                            <ul class="ghost-list-item-action">
                                <li class="edit_icon">
                                    <a>
                                        <svg class="iconSvg" aria-hidden="true" style="color: #554df5; font-size: 20px">
                                            <use xlink:href="#icon-iconfontedit"></use>
                                        </svg>
                                    </a>
                                    <em class="ghost-list-item-ghostion-split"></em>
                                </li>
                                <li class="delete_icon">
                                    <a>
                                        <svg class="iconSvg" aria-hidden="true" style="color: #f81c23; font-size: 18px">
                                            <use xlink:href="#icon-shanchu"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>`
            }
            function renderArticleLabel(item) {
                if (item && item.length > 0) { 
                    let labelDom = '';
                    item.split(',').forEach(labelItem => {
                        labelDom += `<span class="article-source bd-radius-3">${ labelItem }</span>`
                    })
                    return `<li class="list-item source-type">
                        ${ labelDom }
                    </li>`
                } else {
                    return '';
                }
            }
    </script>
</html>



