<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/style/publish/publish.css">
        <link rel="stylesheet" href="/style/common/tagsinput.css">
        <link rel="stylesheet" type="text/css" href="/style/common/editor/jquery.emoji.css">
        <link rel="stylesheet" type="text/css" href="/style/common/editor/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/style/common/editor/editor.css">
        <% include ../common/script %>
        <script src="/js/editor/jquery-ui.min.js"></script>
        <script src="/js/editor/jquery.form.min.js"></script>
        <script src="/js/editor/jquery.emoji.min.js"></script>
        <script src="/js/editor/jquery.mCustomScrollbar.min.js"></script>
        <script src="/js/editor/jquery.editor.js"></script>
        <!-- <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <script src="/js/sensitiveWords.js"></script>
    </head>
    <body>
        <% include ../common/header %>
        <% include ../common/appHeader %>
        <div class="publish_page">
            <div class="publish_left box-shadow bd-radius-5">
                <div class="publish web-display" lang="post">发布</div>
                <div class="article_type">
                    <% if (obj && obj.renderData) { %>
                    <div class="cur_type_item" style="display: none"><%= obj.renderData.articleType %></div>
                    <% } %>
                    <div class="type_label app-label" lang="category">分类:</div>
                    <ul class="type_list">
                        <% obj.menuList.forEach(function(menuItem) { %>
                            <li class="type_item bd-radius-5" menu-id="<%= menuItem.MENU_ID %>" menu-en="<%= menuItem.MENU_EN %>" menu-cn="<%= menuItem.MENU_CN %>" lang="<%= menuItem.MENU_ID %>"><%= menuItem.MENU_CN %></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="article_title">
                    <% if (obj && obj.renderData) { %>
                    <div class="is_drafts" style="display:none"><%= obj.renderData.isDrafts %></div> 
                    <div class="cur_article_label" style="display:none"><%= obj.renderData.articleLabel %></div>
                    <% } %>
                    <div class="title-box">
                        <div class="title-text app-label app-display" lang="theme">标题</div>
                        <form action="javascript:return true">
                            <input class="title_input publish_input" maxlength="30" placeholder="Input topic..."/>
                        </form>
                    </div>
                    <div class="label-parent">
                            <div class="app-label app-display" lang="label">标签</div>
                            <div class="label-box mg-t20">
                                    <input class="typle_input publish_input" placeholder="请输入选择标签，如php（用逗号，分号；分割）按Enter键确认"/>
                            </div>
                            <div class="label-data" style="display:none"><%= obj.getLabel %></div>
                            <div id="tags-input"></div>
                    </div>
                </div>
                <!-- <div class="article_content" id="divText" contenteditable="true" data-placeholder="What do you want to say?"></div> -->
                <div class="code-html web-display">
                    <div id="Editor"></div>
                </div>
                <div class="app-content-box app-display">
                    <div class="app-content-label app-label" lang="content">正文</div>
                    <form action="javascript:return true">
                        <textarea class="app-content-text" name="" id="" cols="30" rows="10" placeholder="请输入内容"></textarea>
                    </form>
                </div>
                <div class="app-article-btn app-display">
                    <button type="button" class="app-btn ghost-btn-primary comment_btn" lang="report">发表文章</button>
                </div>
                <% if (obj.renderData && obj.renderData.articleContent) { %>
                    <div class="edit_article_id" style="display: none"><%= obj.renderData.articleId %></div>
                    <div class="edit_article_type" style="display:none"><%= obj.renderData.articleType %></div>
                    <div class="edit_article_title"><%= obj.renderData.articleTitle %></div>
                    <div class="edit_content"><%= obj.renderData.articleContent %></div>
                <% } %>
                <div class="button_box web-display">
                    <div class="comment_btn_box">
                        <div class="comment_btn" lang="report">发表</div>
                    </div>
                    <div class="save_btn_box">
                        <div class="save_btn" lang="preview">预览</div>
                    </div>
                    <!-- <div class="saving mg-l10">保存中...</div> -->
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        // let userId = $.cookie("userId");
        let editType = $(".edit_article_type").text();
        let isSubmitting = true;
        let isEdit = false;
        let isDrafts = $(".is_drafts").text();
        let articleId = '';
        // let content = [].join('\n');
        let content = null
        let editContent = $(".edit_content").text();
        let articleSource = $(".type_list").children(":first").text();
        let labelArr = [];
        let curLabelArr = $(".cur_article_label").text();
        let labelData = JSON.parse($(".label-data").text());
        $(function(){   
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('Writing')
                $('.typle_input').attr('placeholder', 'Please input the topic,such as php(separating by”,”or “;”), and confirm by clicking ENTER.')
                $('.app-content-text').attr('placeholder', 'Please write something in here')
            } else {
                $('.app-page-title').text('写文章')
                $('.typle_input').attr('placeholder', '请输入选择标签，如php（用逗号，分号；分割）按Enter键确认')
                $('.app-content-text').attr('placeholder', '请输入内容')
            }   
            if (curLabelArr !== "") {
                curLabelArr.split(",").forEach(item => {
                    let labelDiv = `<div class="show-label bd-radius-3">
                                        <span>${item}</span> 
                                        <svg class="iconSvg" aria-hidden="true">
                                            <use xlink:href="#icon-guanbi"></use>
                                        </svg>
                                    </div>`;
                    $(".typle_input").before(labelDiv);
                    labelArr.push(item);
                })
            }
            if (!$.cookie("userId")) {
                goPage('user/login');
            }
            if (editType) {
                $(".type_item").each(function() {
                    if ($(this).text() == editType) {
                        $(this).addClass("actived");
                    }
                })
            } else {
                $(".type_item").eq(0).addClass("actived");
            }

            // if (editContent) {
            //     content = JSON.parse($('.edit_content').text()).join('\n');
            //     $(".title_input").val($(".edit_article_title").text());
            //     articleId = $(".edit_article_id").text();
            //     isEdit = true;
            // };
            if (editContent) {
                content = JSON.parse($('.edit_content').text());
                $(".title_input").val($(".edit_article_title").text());
                articleId = $(".edit_article_id").text();
                isEdit = true;
            };
            // init editor
            var editor = new Editor();
            editor.init({
                box:'#Editor',
                debugger:true,
                uploadUrl: `${baseUrl}`,
                data: content,
                callback: val => {
                    saveArticle(val)
                    content = JSON.parse(val)
                }
            });

            $(".typle_input").focus(function() {
                $("#tags-input").css("display", "block");
            });
            // label plugin config
            $("#tags-input").tagsinput({
                labelTypeArr: labelData,
                callback: label => {
                    console.log(label)
                     let labelDiv = `<div class="show-label bd-radius-3">
                                        <span>${label.label}</span> 
                                        <svg class="iconSvg" aria-hidden="true">
                                            <use xlink:href="#icon-guanbi"></use>
                                        </svg>
                                    </div>`;
                     let labelLen = $(".show-label").length;
                    if (labelLen == 5) return layer.msg('最多选择5个标签！');
                    for ( let i = 0; i <= $('.show-label').length - 1; i++) {
                        if ($('.show-label').eq(i).find('span').text() == label.label) {
                            return false;
                        } 
                    }
                    $(".show-label").each(function() {
                        if ($(this).text() == label.label) return false;
                    })
                    $(".typle_input").before(labelDiv);
                    labelArr.push(label.label);
                    saveArticle()
                }
            })

            $(".label-box").on("click", ".show-label", function(event) {
                event.stopPropagation();
                $(this).remove();
                labelArr.splice($(this).index(), 1);
            });
            $("#tags-input").on("click", function(event) {
                event.stopPropagation();
                $("#tags-input").css("display", "block");
            });

            $(".label-box ").on("click", function(event) {
                event.stopPropagation();
                $("#tags-input").css("display", "block");
            })
            // select label
            $(".typle_input").keydown(function(event){
                if (event.keyCode == 13) {
                    $(this).blur();
                    let labelLen = $(".show-label").length;
                    if (labelLen == 5) return layer.msg('最多选择5个标签！');
                    let keyword = $(this).val();
                    if (!keyword || keyword == '') return false;
                    var regEn = /[`~!@#$%^&*()_+<>?:"{}.\\\/'[\]]/im,
                        regCn = /[·！#￥（——）：“”‘、|《。》？、【】[\]]/im;
                    if (regEn.test(keyword) || regCn.test(keyword)) return layer.msg("标签不能含有其他特殊字符！");
                    keyword = keyword.replace(/\,|\;|\，|\；/ig, ',')
                    if (keyword.indexOf(',') > 0) {
                        let arr = keyword.split(',');
                        if (!arr[arr.length-1]) {
                            arr.splice(arr.length-1, 1)
                        }
                         let len = arr.length + labelLen;
                        if(len > 5) return layer.msg('最多选择5个标签！');
                        arr.forEach(item => {
                            for ( let i = 0; i <= $('.show-label').length - 1; i++) {
                                if ($('.show-label').eq(i).find('span').text() == item) {
                                    $('.show-label').eq(i).remove();
                                    labelArr.splice(i, 1);
                                } 
                            }
                             let labelDiv = `<div class="show-label bd-radius-3">
                                                <span>${item}</span> 
                                                <svg class="iconSvg" aria-hidden="true">
                                                    <use xlink:href="#icon-guanbi"></use>
                                                </svg>
                                            </div>`;
                            $(this).val('');
                            $(this).before(labelDiv);
                            labelArr.push(item);
                        })
                    } else {
                        for ( let i = 0; i <= $('.show-label').length - 1; i++) {
                            if ($('.show-label').eq(i).find('span').text() == keyword) {
                                $('.show-label').eq(i).remove();
                                labelArr.splice(i, 1);
                            } 
                        }
                        let labelDiv = `<div class="show-label bd-radius-3">
                                            <span>${keyword}</span> 
                                            <svg class="iconSvg" aria-hidden="true">
                                                <use xlink:href="#icon-guanbi"></use>
                                            </svg>
                                        </div>`;
                        $(this).val('');
                        $(this).before(labelDiv);
                        labelArr.push(keyword);
                    }
                    $("#tags-input").css("display", "none");
                }
            });
            $(".publish_page").on("click", function(event) {
                event.stopPropagation();
                $("#tags-input").css("display", "none");
            });
            // change classification
            $(".type_list").find(".type_item").each(function() {
                zh[$(this).attr('menu-id')] = $(this).attr('menu-cn')
                en[$(this).attr('menu-id')] = $(this).attr('menu-en')
                $(this).click(function() {
                    articleSource = $(this).text();
                    $(this).addClass("actived");
                    $(this).siblings().removeClass("actived");
                })
            });
            // filter sensitive words and comment article
            $(".comment_btn").on("click", function() {
                if (!isSubmitting) return false; 
                isSubmitting = false;
                if ($(this).hasClass('app-btn')) {
                    let saveTextObj = {
                        type: 'text',
                        value: $('.app-content-text').val()
                    }
                    content = [saveTextObj];
                }
                let keySpans = document.getElementsByClassName('highlight');
                if (keySpans.length) return false; // if had sensitive words return
                let reg = new RegExp(wordsList.join('|'), 'gi'); // check sensitive words
                let articleTitle = $(".title_input").val(); // title
                articleTitle = articleTitle.replace(reg, (word) => `<span class="highlight">${word}</span>`);
                $('.title_input').empty().append(articleTitle);
                let contentArr = [];
                let isTrue = false;
                for (let i = 0; i < content.length - 1; i++) {
                    if (reg.test(content[i].value)) {
                        $('.form-control').eq(i).addClass('error');
                        isSubmitting = true;
                        alert('内容不能含有敏感词汇')
                        return false
                    }
                }

                contentArr = content;
                if (articleTitle.indexOf('highlight') > 0) {
                    alert("文章标题中不能含有敏感词汇！");
                    isSubmitting = true;
                    // autoSave();
                    return false;
                }
                if (!articleTitle ||  contentArr.length < 1) {
                    alert("文章标题或文章内容中不能为空！");
                    isSubmitting = true;
                    // autoSave();
                    return false;
                }
                if (labelArr.length < 1) {
                    layer.msg("文章标签不能为空！");
                    isSubmitting = true;
                    // autoSave();
                    return false;
                }
                let param = {
                    userId: $.cookie("userId"),
                    isEdit: isEdit,
                    isDrafts: false,
                    articleId: articleId,
                    articleTitle: articleTitle,
                    articleContent: JSON.stringify(contentArr),
                    articleType: articleSource,
                    articleLabel: labelArr
                };
                myAjax("POST", 'post/publish', param).then((res) => {
                    layer.msg(res.message);
                    if (res.code == 10000) {
                        sessionStorage.removeItem('jStorage')
                        setTimeout(function() {
                            goPage(`post/articleDetail/${res.articleId}`);
                        }, 2000);
                    } else {
                        console.log(res.message);
                    }
                    isSubmitting = true;
                })
            });

            // preview article
            $('.save_btn').on('click', function() {
                goPage(`post/preview/${articleId}`, true)
            })

            // title remove highlight style
            $(".title_input").focus(() => {
                $('.title_input .highlight').removeClass('highlight');
            })
            // content remove highlight style
            $(".article_content").focus(() => {
                $('.article_content .highlight').removeClass('highlight');
            });

            //--------------------------------------webapp--------------------------
            
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-gohost-hearder-right').empty().text('save')
            } else {
                $('.app-gohost-hearder-right').empty().text('保存草稿')
            }
            $('.app-gohost-hearder-right').on('click', function(e) {
                e.stopPropagation();
                if (!$('.app-content-text').val()) return;
                let saveTextObj = {
                    type: 'text',
                    value: $('app-content-text').val()
                }
                saveArticle(JSON.stringify(saveTextObj))
            })
            translateFun()
        })
        function saveArticle(content) {
            let articleTitle = $(".title_input").val(); // title
            let param = {
                userId: $.cookie("userId"),
                isEdit: isEdit,
                isDrafts: isDrafts != '' ? isDrafts : true,
                articleId: articleId,
                articleTitle: articleTitle ? articleTitle : '未指定文章标题',
                articleContent: content,
                articleType: articleSource,
                articleLabel: labelArr
            };
            myAjax("POST", 'post/publish', param).then((res) => {
                if (res.code == 10000) {
                    articleId = res.articleId;
                } else {
                    console.log(res.message);
                }
            })
        }
    </script>
</html>