<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/style/account/account.css">
        <link rel="stylesheet" href="/style/common/avatar.css">
        <% include ../../common/script %>
        
    </head>
    <body>
        <div class="ghost-layout account-page">
            <% include ../../common/header %>
            <% include ../../common/appHeader %>
            <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                <div class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide" style="margin-bottom: 24px">
                    <main class="ghost-pro-pages-account-settings-info-main">
                        <aside class="ghost-pro-pages-account-settings-info-leftmenu web-display">
                            <% include ../list %>
                        </aside>
                        <div class="ghost-pro-pages-account-settings-info-right">
                            <div class="ghost-pro-pages-account-settings-info-title web-display">
                                <span lang="center">个人中心</span>
                            </div>
                            <div class="ghost-pro-pages-account-settings-base-view-left">
                                <div class="ghost-row">
                                    <section class="account-box">
                                        <form class="ghost-row ghost-form ghost-form-horizontal" enctype = "multipart/form-data">
                                            <div class="ghost-row ghost-form-item">
                                                <div class="ghost-form-item-label web-display">
                                                    <label for="account_name" class="new－ghost-form-item-required" title="header-icon" lang="headerIcon">头像</label>
                                                </div>
                                                <div class="ghost-form-item-control-wrapper">
                                                    <div class="ghost-form-item-control">
                                                        <div class="ghost-form-item-children icon-from-item-children">
                                                            <div class="header-box">
                                                                <% if (result.headerIcon) { %>
                                                                    <img class="ghost-header-icon header-icon new-header-icon" src="<%= result.headerIcon %>" alt="头像">
                                                                <% } else { %>
                                                                    <img class="ghost-header-icon header-icon" src="/images/header_icon.png" alt="avatar">
                                                                <% } %>
                                                                <input id="upload" type="file" name="file" onchange="uploadImg(this)" accept="image/gif,image/jpeg,image/jpg,image/png"/> 
                                                                <div class="hover-show web-display">点击上传</div>
                                                                <div class="app-tackPhoto app-diplay">
                                                                    <svg class="iconSvg" aria-hidden="true">
                                                                        <use xlink:href="#icon-paizhao"></use>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="ghost-row ghost-form-item">
                                                <div class="ghost-form-item-label">
                                                    <label for="account_name" class="new－ghost-form-item-required" title="nickName" lang="nickName">昵称</label>
                                                </div>
                                                <div class="ghost-form-item-control-wrapper">
                                                    <div class="ghost-form-item-control">
                                                        <div class="ghost-form-item-children">
                                                            <input type="text" name="nickName" placeholder="昵称" value="<%=result.nickName%>" class="ghost-input ghost-input-lg nick-name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                            <div class="ghost-row ghost-form-item">
                                                <div class="ghost-form-item-label">
                                                    <label for="account_name" class='ac' title="profile" lang="profile">简介</label>
                                                </div>
                                                <div class="ghost-form-item-control-wrapper">
                                                    <div class="ghost-form-item-control">
                                                        <div class="ghost-form-item-children">
                                                            <input type="text" name="personalProfile" placeholder="这个人很懒！" value="<%=result.personalProfile%>" class="ghost-input ghost-input-lg personal-profile web-display">
                                                            <textarea type="text" name="personalProfile" placeholder="这个人很懒！" value="<%=result.personalProfile%>" class="ghost-input ghost-input-lg personal-profile app-display"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ghost-row ghost-form-item app-from-style">
                                                <div class="ghost-form-item-label">
                                                    <label for="account_name" class='ac' title="password" lang="password">登录密码</label>
                                                </div>
                                                <div class="ghost-form-item-control-wrapper">
                                                    <div class="ghost-form-item-control">
                                                        <div class="ghost-form-item-children setting-password">
                                                            <h4>••••••</h4>
                                                            <button type="button" data-toggle="ghostModel" data-target="openUpdatePasswordModel" class="ghost-btn ghost-btn-text reset-user-password web-display">
                                                                <span lang="changePassword">修改密码</span>
                                                            </button>
                                                            <a class="app-right-icon app-display" href="/account/user/changePassWord">
                                                                <svg class="iconSvg app-back-icon" aria-hidden="true">
                                                                    <use xlink:href="#icon-iconfonticonfonti2copycopy"></use>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ghost-row ghost-form-item app-from-style">
                                                <div class="ghost-form-item-label">
                                                    <label for="account_name" class='ac' title="E-mail" lang="email">邮箱验证</label>
                                                </div>
                                                <div class="ghost-form-item-control-wrapper">
                                                    <div class="ghost-form-item-control">
                                                        <div class="ghost-form-item-children setting-password">
                                                            <h4>已绑定邮箱<%= result.email %></h4>
                                                            <% if(result.activity) { %>
                                                                <button type="button" class="ghost-btn ghost-btn-text web-display" data-toggle="ghostModel" data-target="openUpdateEmailModel">
                                                                    <span lang="changeEmail">修改邮箱</span>
                                                                </button>
                                                                <a class="app-right-icon app-display" href="/account/user/changeEmail">
                                                                    <svg class="iconSvg app-back-icon" aria-hidden="true">
                                                                        <use xlink:href="#icon-iconfonticonfonti2copycopy"></use>
                                                                    </svg>
                                                                </a> 
                                                            <% } else { %>
                                                                <button type="button" class="ghost-btn ghost-btn-text validate-user-email web-display">
                                                                    <span>邮箱验证</span>
                                                                </button>
                                                                <div class="app-right-icon app-display validate-user-email">
                                                                    <svg class="iconSvg app-back-icon validate-user-email" aria-hidden="true">
                                                                        <use xlink:href="#icon-iconfonticonfonti2copycopy"></use>
                                                                    </svg>
                                                                </div> 
                                                            <% } %>  
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ghost-row ghost-form-item web-display">
                                                <div
                                                    class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-xs-offset-0 ghost-col-sm-16" style="margin-left: 80px">
                                                    <div class="ghost-form-item-control">
                                                        <button type="button" id="btn_submit" style="width:100px"
                                                            class="ghost-btn ghost-btn-primary ghost-btn-lg ghost-btn-round submit-info">
                                                            <span lang="save">保存</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </main>


                    <!-- start update password model -->
                    <section class="ghost-model fade-in" id="openUpdatePasswordModel">
                        <div class="ghost-model-content">
                            <h3 class="pd-24" lang="changePassword">修改密码</h3>
                            <form class="ghost-row ghost-form ghost-form-horizontal pd-24" id="resetPasswordForm">
                                <div class="ghost-row ghost-form-item">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <label for="oldPassword" class="new－ghost-form-item-required" title="E-mail" lang="oldPassword">旧密码</label>
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-sm-20">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-form-item-children">
                                                <input type="password" placeholder="Please enter the old password" required name="oldPassword" id="oldPassword" class="ghost-input ghost-input-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ghost-row ghost-form-item">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <label for="newPassword" class="new－ghost-form-item-required" title="New Password" lang="newPassword">新密码</label>
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-sm-20">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-form-item-children">
                                                <input type="password" placeholder="Please enter a new password" required name="newPassword" id="newPassword" class="ghost-input ghost-input-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ghost-row ghost-form-item">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <label for="confirmPassword" class="new－ghost-form-item-required" title="Confirm Password" lang="confirmPassword">确认密码</label>
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-sm-20">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-form-item-children">
                                                <input type="password" placeholder="Please confirm your password" required name="confirmPassword" id="confirmPassword" class="ghost-input ghost-input-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ghost-row ghost-form-item error_tip_next">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <!-- <label for="confirmPassword" class="new－ghost-form-item-required" title="Confirm Password"></label> -->
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-xs-offset-0 ghost-col-sm-16 ghost-col-sm-offset-4">
                                        <div class="ghost-form-item-control">
                                            <button class="ghost-btn ghost-btn-primary ghost-btn-lg waves-float float-button-light waves-effect waves-button waves-float waves-light" name="password-submit" id="submit" style="margin-right: 70px">
                                                <span lang="confirm">确认</span>
                                            </button>
                                            <button type="button" data-dismiss="ghostModel" name="password-cancel" class="ghost-btn ghost-btn-default ghost-btn-lg">
                                                <span lang="cancel">取消</span>    
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <!-- end update password model -->
                    <section class="ghost-model fade-in" id="openUpdateEmailModel">
                        <div class="ghost-model-content">
                            <h3 class="pd-24" lang="changeEmail">修改邮箱</h3>
                            <form class="ghost-row ghost-form ghost-form-horizontal pd-24" id="resetEmail">
                                <div class="ghost-row ghost-form-item">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <label for="oldEmail" class="new－ghost-form-item-required" title="Old email" lang="oldEmail">旧邮箱</label>
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-sm-20">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-form-item-children">
                                                <input type="email" placeholder="Please enter the old email" required name="oldEmail" id="oldEmail" class="ghost-input ghost-input-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ghost-row ghost-form-item">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <label for="newEmail" class="new－ghost-form-item-required" title="New eamil" lang="newEmail">新邮箱</label>
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-sm-20">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-form-item-children">
                                                <input type="email" placeholder="Please enter a new email" required name="newEmail" id="newEmail" class="ghost-input ghost-input-lg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ghost-row ghost-form-item error_tip_next">
                                    <div class="ghost-form-item-label ghost-col-xs-24 ghost-col-sm-4">
                                        <!-- <label for="confirmPassword" class="new－ghost-form-item-required" title="Confirm Password"></label> -->
                                    </div>
                                    <div class="ghost-form-item-control-wrapper ghost-col-xs-24 ghost-col-xs-offset-0 ghost-col-sm-16 ghost-col-sm-offset-4">
                                        <div class="ghost-form-item-control">
                                            <button class="ghost-btn ghost-btn-primary ghost-btn-lg " name="emial-submit" id="email-submit" style="margin-right: 70px">
                                                <span lang="confirm">确认</span>
                                            </button>
                                            <button type="button" data-dismiss="ghostModel" name="email-cancel" class="ghost-btn ghost-btn-default ghost-btn-lg">
                                                <span lang="cancel">取消</span>    
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                        
                </div>
            </div>
            <footer class="app-footer app-display">
                <button type="button" class="app-btn ghost-btn-primary btn_submit submit-info" lang="save">保存</button>
            </footer>
        </div>
    </body>
    <script src="/js/jquery.imgareaselect.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="https://cdn.bootcss.com/rxjs/6.4.0/rxjs.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.0-beta.12/Rx.min.js"></script>
    <script type="text/javascript">
        Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
        Waves.init();
        function closeDialog() {
            const $overlay = $('.ghost-model-overlay')
            $overlay.get(0).remove()
            $('#openUpdatePasswordModel').removeClass('show')
        }
        $(function() {
            const newHeaderIcon = $('.new-header-icon').attr('src');
            $('.new-header-icon').attr('src', `${readFileBaseUrl}${newHeaderIcon}`)
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('Personal Center')
            } else {
                $('.app-page-title').text('个人中心')
            }
            $('.submit-info').click(function(){
                let nickName = document.querySelector('.nick-name').value;
                let personalProfile = document.querySelector('.personal-profile').value;
                let myForm = new FormData(document.getElementById("myForm"));
                myForm.append("userId", $.cookie("userId"));
                myForm.append("nickName", document.querySelector('.nick-name').value); 
                myForm.append("personalProfile", document.querySelector('.personal-profile').value);
                let files = document.querySelector('[type=file]').files;
                for(let i = 0; i < files.length; i++){
                    myForm.append("file", files[i]);                
                }
                if (!nickName && !personalProfile && !files[0]) {
                    return false;
                }
                $.ajax({
                    url: baseUrl + 'account/upload',
                    type: 'post',
                    data: myForm,
                    contentType: false,
                    processData: false,
                    success: function(res){
                        layer.msg(res.message);
                        if (res.code == 10000 && nickName) {
                            $.cookie('nickName', nickName, { expires:7, path: '/' });
                        }
                    },
                    error: function(err) {
                        layer.msg(res.message);
                    }
                })
            });

            $('#openUpdatePasswordModel').ghostModel({
                skinClassName: 'demo',
	            animationType: 'fade-in'
            })

            $("#openUpdateEmailModel").ghostModel({
                skinClassName: 'demo',
	            animationType: 'fade-in'
            })
            $("#resetPasswordForm").validate({
                debug: true,
                submitHandler: function(form) {
                    const params = {
                        userId: $.cookie("userId"),
                        oldPassword: $('#oldPassword').val(),
                        passWordOne: $('#newPassword').val(),
                        passWordTwo: $('#confirmPassword').val()
                    }
                    myAjax("POST", "account/resetPassword", params).then((res) => {
                        if (res.code == 10000) {
                            $('#openUpdatePasswordModel').removeClass('show');
                            $(".ghost-model-overlay").append(`<div class="psw-tip">${res.message}</div>`);
                            setTimeout(function() {
                                $(".psw-tip").remove();
                                closeDialog();
                            }, 2000)
                        } else {
                            $(".error_tip_next").before(`<div class="error_tip">${res.message}</div>`);
                            setTimeout(function() {
                                $(".error_tip").remove();
                            }, 3000);
                        }
                    })
                },
                onfocusin: function(element) { $(element).valid() },
                onfocusout: function(element) { $(element).valid() },
                onkeyup: function(element) { $(element).valid() },
                focusInvalid: function(element) { $(element).valid() },
                errorElement: 'div',
                errorClass:"ghost-form-explain",
                highlight: function(element, errorClass, validClass) {
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).addClass("ghost-form-explain")
                    $(elementId).parent().addClass('has-error')
                },
                unhighlight:function(element, errorClass){
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).parent().removeClass('has-error').addClass('has-success')
                    $(elementId).parents().removeClass('ghost-form-item-with-help')
                },
                rules: {
                    oldPassword: {
                        required: true,
                        minlength: 6
                    },
                    newPassword: {
                        required: true,
                        minlength: 6
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#newPassword"
                    },
                },
                messages: {
                    oldPassword: {
                        required: "请输入旧密码",
                        minlength: "旧密码长度不能小于 6 位数"
                    },
                    newPassword: {
                        required: "请输入新密码",
                        minlength: "新密码长度不能小于 6 位数"
                    },
                    confirmPassword: {
                        required: "请再次输入密码",
                        minlength: "密码长度不能小于 6 位数",
                        equalTo: "两次密码输入不一致"
                    }
                }
            }) 

            $(".validate-user-email").on("click", function() {
                myAjax("POST", 'account/validateEmail', {userId: $.cookie("userId"), type: 1,}).then((res) => {
                    if (res.code == 10000) {
                        $("#openUpdateEmailModel").removeClass("show");
                        alert(res.message);
                    } else {
                        console.log(res.message);
                    }
                })
            });
            $("#resetEmail").validate({
                onfocusin: function(element) { $(element).valid() },
                onfocusout: function(element) { $(element).valid() },
                onkeyup: function(element) { $(element).valid() },
                focusInvalid: function(element) { $(element).valid() 
                },
                debug: true,
                submitHandler: function(form) {
                    const params = {
                        userId: $.cookie("userId"),
                        oldEmail: $('#oldEmail').val(),
                        newEmail: $('#newEmail').val(),
                    }
                    myAjax("POST", "account/resetEmail", params).then((res) => {
                        if (res.code == 10000) {
                            $('#openUpdateEmailModel').removeClass('show');
                            $(".ghost-model-overlay").append(`<div class="psw-tip">${res.message}</div>`);
                            setTimeout(function() {
                                $(".psw-tip").remove();
                                closeDialog();
                            }, 2000)
                        } else {
                            $(".error_tip_next").before(`<div class="error_tip">${res.message}</div>`);
                            setTimeout(function() {
                                $(".error_tip").remove();
                            }, 3000);
                        }
                    })
                },
                errorElement: 'div',
                errorClass:"ghost-form-explain",
                highlight: function(element, errorClass, validClass) {
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).addClass("ghost-form-explain")
                    $(elementId).parent().addClass('has-error')
                },
                unhighlight:function(element, errorClass){
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).parent().removeClass('has-error').addClass('has-success')
                    $(elementId).parents().removeClass('ghost-form-item-with-help')
                },
                rules: {
                    oldEmail: {
                        required: true,
                        email: true
                    },
                    newEmail: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    oldEmail:  "请输入旧邮箱",
                    newEmail:  "请输入新邮箱",
                }
            });
        })
        function uploadImg(file) {

            var files = !!file.files ? file.files : [];

            if (!files.length || !window.FileReader) return;

            var reader = new FileReader();

            reader.readAsDataURL(files[0]);

            reader.onloadend = function(){
                $(".ghost-header-icon").attr("src",this.result);
            }
        }
    </script>
</html>
