<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/collection.png" type="img/x-ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">

        <!-- 页面关键词-->
        <meta name="keywords" content="your tags" />
        <!-- 页面描述-->
        <meta name="description" content="150 words" />
        <!-- 搜索引擎索引方式：robotterms是一组使用逗号(,)分割的值，通常有如下几种取值：none，noindex，nofollow，all，index和follow。确保正确使用nofollow和noindex属性值。-->
        <meta name="robots" content="index,follow" />
        <!--
            all：文件将被检索，且页面上的链接可以被查询；
            none：文件将不被检索，且页面上的链接不可以被查询；
            index：文件将被检索；
            follow：页面上的链接可以被查询；
            noindex：文件将不被检索；
            nofollow：页面上的链接不可以被查询。
        -->
        
        <link rel='stylesheet' href='/style/index.css' />
        <link rel="stylesheet" href="/style/common/swiper.min.css">
        <% include ../common/script %>
        <style>
            .menu-title {
                margin-bottom: 20px;
                text-indent: 12px;
                font-size: 12px;
                color: #000000;
            }
            .tab-nav {
                position: relative;
                box-sizing: border-box;
                padding-left: 0;
                list-style: none;
                min-height: 48px;
                font-size: 16px;
                white-space: nowrap;
                width: 100%;
            }
                
            .tab-nav-item {
                position: relative;
                box-sizing: border-box;
                height: 100%;
                padding: 11px 0;
                text-indent: 12px;
                text-decoration: none;
                font-family:  "PingFangSC-Light","-apple-system","Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
                cursor: pointer;
                color: var(--col-61);
                font-size: var(--fs-14);
                transition: color .3s cubic-bezier(.645,.045,.355,1);
            }
            .tab-nav-item:nth-of-type(1).tab-active:active {
                background-color: #FFF;
                color: var(--col-014);
            }
            .tab-nav-item.tab-active {
                -webkit-box-shadow: -5px 0 10px 0 rgba(217, 224, 252, .3);
                box-shadow: -5px 0 10px 0 rgba(217, 224, 252, .3);
                background-color: #FFF;
                color: var(--col-014);
            }
                
            .tab-nav-item.tab-active:active {
                background-color: #ffffff;
                -webkit-box-shadow: -5px 0 10px 0 rgba(217, 224, 252, .3);
                box-shadow: -5px 0 10px 0 rgba(217, 224, 252, .3);
            }
                
            .tab-nav-item:active {
                background-color: transparent;
            }
                
            .tab-nav-item a {
                display: inherit;
                color: inherit;
            }
            
            .tab-nav-item:hover {
                background-color: rgba(72, 94, 192, .1);
            }
            .tab-nav-item.tab-active {
                color: var(--col-014);
            }
            .tab-panel {
                position: relative;
            }
                
            .tab-panel .tab-panel-item {
                width: 100%;
                position: absolute;
                top: 0;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
            .menu-item-val {
                margin-left: 5px;
            }
            .index-tab {
                /* position: fixed
                right: 0 */
                margin-left: 50px;
            }
            .tab-panel .tab-panel-item.tab-active {
                position: relative;
                -webkit-transition: -webkit-transform .15s;
                transition: -webkit-transform .15s;
                transition: transform .15s;
                transition: transform .15s, -webkit-transform .15s;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
                
            .tab-panel .tab-panel-item.tab-active ~ .tab-panel-item {
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            .ghost-list-vertical {
                position: relative;
            }
            
            .ghost-row {
                height: 100%;
            }
            .ghost-layout {
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: scroll;
            }
            .ghost-card-body {
                padding: 10px 20px;
            }
            .ghost-tag-list {
                font-size: 0;
            }
            .ghost-components-article-list-content-index-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .ghost-components-article-list-content-index-description .post-pic {
                width: 100px;
                height: 60px;
                object-fit: contain;
            }
            .target-go {
                color: var(--col-88)
            }
            @media screen and (max-width: 420px) {
                #root {
                    overflow-x: hidden;
                }
                .ghost-layout {
                    bottom: 50px;
                }
                .ghost-row {
                    display: block!important;
                }
                .ghost-pro-layouts-basic-layout-content {
                    width: 100%;
                    padding-top: 80px;
                    /* overflow-x: hidden; */
                }
                .ghost-components-menu-vertical-index {
                    position: fixed;
                    top: 44px;
                    left: 0;
                    right: 0;
                    padding: 0 10px;
                    width: 100%;
                    background: var(--bg);
                    z-index: 11;
                }
                .ghost-components-menu-vertical-index .app-index-menu-list {
                    display: flex;
                    overflow-y: scroll;
                    line-height: 36px;
                    
                }
                .app-index-menu-list .app-index-menu-item {
                    position: relative;
                    margin: 0 15px;
                }
                .app-index-menu-list .app-index-menu-item .ghost-ment-item-title {
                    width: auto;
                    white-space: nowrap;
                }
                
                .app-index-menu-list .is-active {
                    color: var(--btn-col);
                }
                .app-index-menu-item .app-menu-item-border {
                    display: none;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 1px;
                    width: 50px;
                    transform: translateX(-50%);
                    background: var(--btn-col);
                }
                .app-index-menu-item .app-menu-item-border-show {
                    display: block;
                }
                .swiper-container {
                    height: 140px;
                    border-radius: 0;
                }
                .swiper-container .swiper-wrapper img {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                }
                .ghost-list {
                    background: var(--white);
                }
                .ghost-list .ghost-card {
                    border-radius: 0;
                }
                .ghost-list .ghost-card .ghost-card-body {
                    margin: 0 15px;
                    padding: 0 0 10px 0;
                    border-bottom: .5px solid var(--col-e9);
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-list-item-meta-title {
                    overflow: hidden;
                    width: 300px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 18px;
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-components-article-list-content-index-description {
                    padding-top: 5px;
                    line-height: 18px;
                    font-size: var(--fs-11);
                }
                .ghost-components-article-list-content-index-listContent {
                    position: relative;
                }
                .ghost-components-article-list-content-index-listContent .ghost-components-article-list-content-index-extra {
                    margin-top: 10px;
                    font-size: 0;
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-tag-list {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    transform: scale(.8) translateX(-12%);
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-tag {
                    font-size: var(--fs-11);
                }
                .ghost-list .ghost-card .ghost-card-body .app-time {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: var(--fs-11);
                    transform: scale(.8) translateX(12%);
                }
                .ghost-list .ghost-card .ghost-card-body .from-type {
                    transform: scale(.8) translateX(12%);
                }
                .ghost-empty {
                    margin: 5em auto;
                }
                
            }
        </style>
    </head>
    <body>
        <div id="root">
            <div class="ghost-layout">
                <% include ../common/header %>
                <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                    <main  class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                        <div class="ghost-row" style="display: flex">
                            <article class="ghost-col-xs-24 ghost-col-sm-24 ghost-col-md-24 ghost-col-lg-18 ghost-col-xl-18 ghost-left-box">
                                <div class="ghost-components-menu-vertical-index app-display">
                                    <ul class="app-index-menu-list">
                                        <% postList.menuList.forEach(function(menuItem) { %>
                                        <li class="index-menu-item app-index-menu-item" menu-id="<%= menuItem.MENU_ID %>" menu-en="<%= menuItem.MENU_EN %>" menu-cn="<%= menuItem.MENU_CN %>">
                                            <span class="ghost-ment-item-title" lang="<%= menuItem.MENU_ID %>"><%= menuItem.MENU_CN %></span>
                                            <span class="app-menu-item-border"></span>
                                        </li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <div class="swiper-container bd-radius-5">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img src="/images/1.png" alt=""></div>
                                        <div class="swiper-slide"><img src="/images/2.png" alt=""></div>
                                        <div class="swiper-slide"><img src="/images/3.png" alt=""></div>
                                        <div class="swiper-slide"><img src="/images/4.png" alt=""></div>
                                    </div>
                                    <!-- 如果需要分页器 -->
                                    <div class="swiper-pagination"></div>
                                    <!-- 如果需要导航按钮 -->
                                    <!-- <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div> -->
                                </div>
                                <div class="ghost-card-box" style="background-color: transparent; box-shadow: none">
                                    <div class="ghost-loading-mask" style="display: none">
                                        <div class="ghost-loading-spinner">
                                            <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                        </div>
                                    </div>
                                    <% if (postList.articleList && (postList.articleList.length > 0)) { %>
                                    <div class="ghost-list ghost-list-vertical">
                                        <div class="ghost-spin-container postsList" id="artivleTemplate">
                                            <% postList.articleList.forEach(function(articleItem) {%>
                                                <a class="target-go" target="_blank" href="/post/articleDetail/<%=articleItem.ARTICLE_ID%>">
                                                    <div class="ghost-card gohst-index-page" article-id="<%= articleItem.ARTICLE_ID%>">
                                                        <div class="ghost-card-body">
                                                            <div class="ghost-list-item">
                                                                <div class="ghost-list-item-main">
                                                                    <div class="ghost-list-item-meta">
                                                                        <div class="ghost-list-item-meta-content">
                                                                            <div class="ghost-pro-components-article-list-content-index-listContent">
                                                                                <% if(articleItem.TOP) { %>
                                                                                <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                                                                                <% } %>
                                                                                <h4 class="ghost-list-item-meta-title fs18">
                                                                                    <%=articleItem.ARTICLE_TITLE%>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ghost-components-article-list-content-index-listContent">
                                                                        <div class="ghost-components-article-list-content-index-description">
                                                                            <%= articleItem.ARTICLE_CONTENT %>
                                                                        </div>
                                                                        <div class="ghost-components-article-list-content-index-extra">
                                                                            <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show web-display">
                                                                                <% if(articleItem.hearderIcon) { %>
                                                                                    <img src="/<%= articleItem.hearderIcon %>">
                                                                                <% } else { %> 
                                                                                    <span class="item-random-color" article-author="<%=articleItem.author%>">
                                                                                        <%= articleItem.author.substring(0, 1) %>
                                                                                    </span>  
                                                                                <% } %>
                                                                            </span>
                                                                            <a href="javascript:" class="articleAuthor web-display" style="color: var(--btn-col)">
                                                                                <span class="author-name"><%=articleItem.author%></span>
                                                                            </a>
                                                                            <em class="showTime web-display"><%= articleItem.CREATED %></em>
                                                                            <span class="ghost-tag-list">
                                                                                <% articleItem.ARTICLE_LABEL.forEach(function(labelItem) {%>
                                                                                <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary"><%= labelItem %></span>
                                                                                <% }) %>
                                                                            </span>
                                                                            <span class="showTime app-display app-time" ><%= articleItem.CREATED %></span>
                                                                            <span class="from-type">From：<%= articleItem.ARTICLE_TYPE %></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% if ((postList.total * 1) < 1) { %>
                                        <div class="ghost-empty">
                                            <dvi class="ghost-empty-image">
                                                <img src="/images/no_data.png" alt="">
                                            </dvi>
                                            <p class="ghost-empty-description">暂无相关文章</p>
                                        </div>
                                    <% } %>
                                        <!-- <input type="hidden" id="totalPages" value="<%= postList.total %>" style="display: none" /> -->
                                </div>
                            </article>
                            <aside class="ghost-col-xs-24 ghost-col-sm-24 ghost-col-md-24 ghost-col-lg-24 ghost-col-xl-6 index-tab web-display">
                                <h5 class="tag-title">
                                    <span> TAGS </span>
                                    <span class="long-tag-border"></span>
                                </h5>
                                <ul class="ghost-components-menu-vertical-index index-menu-list">
                                    <% postList.menuList.forEach(function(menuItem) { %>
                                    <li class="ghost-components-menu-item index-menu-item" menu-id="<%= menuItem.MENU_ID %>" menu-en="<%= menuItem.MENU_EN %>" menu-cn="<%= menuItem.MENU_CN %>">
                                        <svg class="iconSvg" aria-hidden="true">
                                            <use xlink:href="#icon-<%= menuItem.MENU_ID %>"></use>
                                        </svg>
                                        <span class="ghost-ment-item-title" lang="<%= menuItem.MENU_ID %>"><%= menuItem.MENU_CN %></span>
                                    </li>
                                    <% }) %>
                                </ul>
                            </aside>
                        </div>
                    </main>
                </div>
            </div>
            <footer class="app-footer app-display">
                <button type="button" class="app-btn ghost-btn-primary" lang="writing">发表文章</button>
            </footer>
        </div>
    </body>
    <script src="/js/swiper.min.js"></script>
    <script type="text/javascript">
        let activity = JSON.parse(localStorage.getItem('activity'));
        function goPAGE() {
            if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
             $('.target-go').removeAttr('target')
            }
        }
        $(function() {
            goPAGE();
            let pageSize = 1;
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            })
            $('.ghost-components-article-list-content-index-description').each(function() {
                let showContent = ''
                let showImg = ''
                dealPostList(JSON.parse($(this).text())).forEach(item => {
                    showContent += item.value
                    if (item.type == 'pic' && item.url) {
                        showImg = `<img class="post-pic" src="${item.url}" />`
                    }
                })
                $(this).html(`<div class="ghost-components-article-list-show-content">${showContent}</div>`)
                $(this).append(showImg)
            })

            // random color
            $(".item-random-color").each(function() {
                const authorName = $(this).attr("article-author")
                $(this).css("background",renderColor(authorName))
            })
            $(".showTime").each(function() {
                let resTime = formatDateFilter2($(this).text())
                $(this).html(resTime)
            })

            const userId = $.cookie("userId")
            const articleType = this.location.pathname.split('/')[2] ? decodeURI(this.location.pathname.split('/')[2]) : 'ALL'


            $('.ghost-components-menu-vertical-index .index-menu-item').on('click', function (e) {
                e.preventDefault()
                pageSize = 0;
                $(this).addClass('is-active')
                $(this).siblings().removeClass('is-active')
                $(this).find('.app-menu-item-border').addClass('app-menu-item-border-show')
                $(this).siblings().find('.app-menu-item-border').removeClass('app-menu-item-border-show')
                goPage(`topic/${$(this).attr('menu-id')}`)
            })

            $('.index-menu-list .index-menu-item').each(function() {
                zh[ $(this).attr('menu-id')] =  $(this).attr('menu-cn')
                en[ $(this).attr('menu-id')] =  $(this).attr('menu-en')
                if (articleType === $(this).attr('menu-id')) {
                    $(this).addClass('is-active')
                    $(this).siblings().removeClass('is-active')
                    $(this).siblings().find('.app-menu-item-border').removeClass('app-menu-item-border-show')
                    // return false
                }
            })

            // init dropload config
            let isLoading = false;
            
            let dropload = $('.ghost-layout').dropload({
                loadDownFn: function(me){
                    if (isLoading) return false;
                    isLoading = true
                    $('.dropload-up').remove()
                    $('.dropload-down').remove()
                    $('.dropload-refresh').remove()
                    const url = articleType ? `topic/${articleType}/${pageSize}` : `topic/ALL${pageSize}`
                    myAjax('GET', url).then(res => {
                        if (res.code === 10000 && res.articleList.length > 0) {
                            $('.ghost-loading-mask').css('display', 'block')
                            pageSize++
                            let result = ''
                            res.articleList.forEach((item, ind) => {
                                result += renderArticleHtml(item)
                                // if(ind == res.articleList.length - 1) {
                                //     dropload.noData()
                                // }
                            });
                            
                            $(".item-random-color").each(function() {
                                const authorName = $(this).attr("article-author")
                                $(this).css("background",renderColor(authorName))
                                
                            })
                            setTimeout(function() {
                                // 每次数据加载完，必须重置
                                dropload.resetload()
                                isLoading = false
                                $('.ghost-loading-mask').css('display', 'none')
                                $("#artivleTemplate").append(result)
                                translateFun()
                                goPAGE();
                            }, 1000) 
                        } else {
                            // 即使加载出错，也得重置
                            // dropload.noData();
                            dropload.resetload()
                            setTimeout(function() {
                                isLoading = false
                            }, 1000) 
                        }
                    })
                }
            })
            $('.dropload-up').remove()
            $('.dropload-down').remove()
            $('.dropload-refresh').remove()
            $('.tab-nav .tab-nav-item').on('click', function (e) {
                e.preventDefault()
                $(this).addClass('tab-active')
                $(this).siblings().removeClass('tab-active')
                goPage(`topic/${$(this).find(".menu-item-val").text()}`)
            })

            // Click on the list item to enter the article details
            $('#artivleTemplate').on('click', '.ghost-list-item', function(event) {
                event.stopPropagation()
                const articleId = $(this).parents(".gohst-index-page").attr("article-id")
                myAjax("POST", "post/addView", { articleId: articleId, userId: $.cookie("userId") })
            })
            // ------------------------------webApp--------------------------------------
            $('.app-index-menu-list .index-menu-item').each(function() {
                if (articleType ===  $(this).attr('menu-id')) {
                    $(this).addClass('is-active')
                    $(this).siblings().removeClass('is-active')
                    $(this).find('.app-menu-item-border').addClass('app-menu-item-border-show')
                    $(this).siblings().find('.app-menu-item-border').removeClass('app-menu-item-border-show')
                    return false
                }
            })
            $('.app-btn').on('click', function(e) {
                e.stopPropagation()
                if ($.cookie("userId")) {
                    if (activity) {
                        goPage('post/publish/')
                    } else {
                        if (confirm('该账户还未进行验证，请先进行验证！')) {
                            let url = 'account/account/' + nickName
                            goPage(url)
                        }
                    }
                } else {
                    goPage('user/login')
                }
            })
            translateFun()
        })
        
        function isTop(item) {
            if (item) {
                return `
                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                `
            } else {
                return ''
            }
        }
        function filterTime(item) {
            return  resTime = formatDateFilter2(item)
        }
        function showHeaderIcon(item) {
            if (item.hearderIcon != '' && item.hearderIcon != null) {
                return `
                    <img src="/${ item.hearderIcon }">
                `
            } else {
                return `<span class="item-random-color" article-author="${item.author}">${item.author.substring(0, 1)}</span>`
            }
        }
        function showText(content) {
            let showImg = ''
            let showContent = ''
            dealPostList(JSON.parse(content)).forEach(item => {
                showContent += item.value
                if (item.type == 'pic' && item.url) {
                    showImg = `<img class="post-pic" src="${item.url}" />`
                }
            })
            let result =`<div class="ghost-components-article-list-content-index-description"><div class="ghost-components-article-list-show-content">${showContent}</div>${showImg}</div>`
            return result
        }
        let renderArticleHtml = item => {
            return `<a class="target-go" target="_blank" href="/post/articleDetail/${item.ARTICLE_ID}">
                        <div class="ghost-card gohst-index-page" article-id="${item.ARTICLE_ID}">
                            <div class="ghost-card-body">
                                <div class="ghost-list-item">
                                    <div class="ghost-list-item-main">
                                        <div class="ghost-list-item-meta">
                                            <div class="ghost-list-item-meta-content">
                                                <div class="ghost-pro-components-article-list-content-index-listContent">
                                                    ${ isTop(item.TOP) }
                                                    <h4 class="ghost-list-item-meta-title fs18">
                                                        ${ item.ARTICLE_TITLE }
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ghost-components-article-list-content-index-listContent">
                                            ${ showText(item.ARTICLE_CONTENT) }
                                            <div class="ghost-components-article-list-content-index-extra">
                                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show web-display">
                                                    ${ showHeaderIcon(item) }
                                                </span>
                                                <a href="javascript:" class="articleAuthor web-display" style="color: var(--btn-col)">
                                                    <span class="author-name">${ item.author }</span>
                                                </a>
                                                <em class="showTime web-display">${ filterTime(item.CREATED) }</em>
                                                <span class="ghost-tag-list">
                                                    <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary">${ item.ARTICLE_TYPE }</span>
                                                </span>
                                                <span class="showTime app-display app-time">${ filterTime(item.CREATED) }</span>
                                                <span class="from-type">来自分类：${ item.ARTICLE_TYPE }</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>`
            }
            
    </script>
</html>
