<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/style/articleDetail/articleDetail.css'>
        <% include ../common/script %>
    </head>
    <body>
        <% include ../common/header %>
        <section class='article_detail_page'>
            <div class='article_left box-shadow bd-radius-5'>
                <div class='title_box pd-rl30'>
                    <div class='title'><%= article.ARTICLE_TITLE %></div>
                    <ul class='icon_data'>
                        <li class='data_item'>
                            source：<a target='_blank' href='/topic/<%= article.ARTICLE_TYPE %>'><span class='eth'><%= article.ARTICLE_TYPE %></span></a>
                        </li>
                        <li class='data_item'>
                            <%= article.VIEW_COUNT %> <span lang="view">次阅读</span>
                        </li>
                        <li class='data_item showTime'><%= article.CREATED.substring(0, 10) %></li>
                        <li class='data_item source-type'>
                            <%  article.ARTICLE_LABEL.forEach(function(item) { %>
                            <span class='article-source bd-radius-3'><%= item %></span>
                            <% }) %>
                        </li>
                    </ul>
                </div>
                <div class='content'>
                        <%= article.ARTICLE_CONTENT %>
                </div>
                <div class='code-html pd-rl30'></div>
            </div>
            <div class='article_right web-display'>
                <div class='personal_box'>
                    <div class='info_top'>
                        <% if(article.headerIcon) { %>
                            <img class='head_portrait personal-headerIcon' src='<%= article.headerIcon %>'>
                        <% } else { %> 
                            <span class='item-random-color' article-commentUserName='<%=article.AUTHOR%>'>
                                <%= article.AUTHOR.substring(0, 1) %>
                            </span>  
                        <% } %>
                        <div class='my_name'><%= article.AUTHOR %></div>
                        <div class='my_autograph'><%= article.personalProfile %></div>
                    </div>
                    <div class='info_down bd-top'>
                        <img class='crown_icon' src='/images/crown.png' alt=''>
                        <div class='follow down_item bd-right'>
                            <div class='text' lang="like">喜欢</div>
                            <div class='count'><%= article.LIKE_COUNT %></div>
                        </div>
                        <div class='fans down_item'>
                            <div class='text' lang="collect">收藏</div>
                            <div class='count'><%= article.COLLECT_COUNT %></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script type='text/javascript'>
        let articleId, articleTitle
        $(function(){
            let author = $('.my_name').text()
            $('.showTime').each(function() {
                let resTime = formatDateFilter2($(this).text())
                $(this).html(resTime)
            })
            $('.personal-headerIcon').each(function() {
                const imgSrc = $(this).attr('src')
                $(this).attr('src', `${readFileBaseUrl}/${imgSrc}`)
            })
            $('.item-random-color').each(function() {
                const authorName = $(this).attr('article-commentUserName')
                $(this).css('background',renderColor(authorName))

            })
            let showContent = JSON.parse($('.content').text())
            dealArticleContent(showContent).forEach(item => {
                $('.code-html').append(item.value)
            })
        })
    </script>
</html>
    
