<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/collection.png" type="img/x-ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel='stylesheet' href='/style/index.css' />
        <link rel="stylesheet" href="/style/forum/forum.css">
        <% include ../common/script %>
        <style>
            #root .ghost-components-article-list-content-index-description {
                color: var(--col-88);
            }
            #root .ghost-list-item-meta-title:hover {
                text-decoration: underline;
                color: var(--btn-col);
            }
        </style>
    </head>
    <body>
        <div id="root">
            <div class="ghost-layout">
                <% include ../common/header %>
                <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                    <main  class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                        <div class="ghost-row">
                                <div class="ghost-card" style="background-color: transparent; box-shadow: none">
                                    <div class="ghost-card-body" style="padding: 0">
                                        <div class="ghost-loading-mask" style="display: none">
                                            <div class="ghost-loading-spinner">
                                                <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                            </div>
                                        </div>
                                        <% if (postList.data && (postList.data.length > 0)) { %>
                                        <div class="ghost-list ghost-list-vertical">
                                            <div class="ghost-spin-container postsList" id="artivleTemplate">
                                                <% postList.data.forEach(function(articleItem) {%>
                                                    <div class="ghost-card gohst-index-page" article-id="<%= articleItem.articleId%>"">
                                                        <div class="ghost-card-body" style="padding: 10px 20px">
                                                            <a class="target-go" target="_blank" href="/post/articleDetail/<%=articleItem.articleId%>">
                                                                <div class="ghost-list-item">
                                                                    <div class="ghost-list-item-main">
                                                                        <div class="ghost-list-item-meta">
                                                                            <div class="ghost-list-item-meta-content">
                                                                                <div class="ghost-pro-components-article-list-content-index-listContent">
                                                                                    <% if(articleItem.top) { %>
                                                                                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                                                                                    <% } %>
                                                                                    <h4 class="ghost-list-item-meta-title fs18">
                                                                                        <%=articleItem.articleTitle%>
                                                                                    </h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ghost-components-article-list-content-index-listContent">
                                                                            <div class="ghost-components-article-list-content-index-description">
                                                                                <%- articleItem.articleContent %>
                                                                            </div>
                                                                            <div class="ghost-components-article-list-content-index-extra">
                                                                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show">
                                                                                    <% if(articleItem.hearderIcon) { %>
                                                                                        <img src="/<%= articleItem.hearderIcon %>">
                                                                                    <% } else { %> 
                                                                                        <span class="item-random-color" article-author="<%=articleItem.author%>">
                                                                                            <%= articleItem.author.substring(0, 1) %>
                                                                                        </span>  
                                                                                    <% } %>
                                                                                    
                                                                                </span>
                                                                                <a href="javascript:;" class="articleAuthor" style="color: var(--btn-col)">
                                                                                    <span class="author-name"><%=articleItem.author%></span>
                                                                                </a>
                                                                                <em class="showTime"><%= articleItem.publishTime %></em>
                                                                                <% if (articleItem.articleLabel) { %>
                                                                                    <% articleItem.articleLabel.forEach(function(labelItem) {%>
                                                                                    <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary"><%= labelItem %></span>
                                                                                    <% }) %>
                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% if ((postList.total * 1) > 0) { %>
                                            <ul class="ghost-pagination" style="margin: 24px 0; text-align: center"></ul>
                                        <% } else { %>
                                            <div class="ghost-empty">
                                                <dvi class="ghost-empty-image">
                                                    <img src="/images/no_data.png" alt="">
                                                </dvi>
                                                <p class="ghost-empty-description">暂无相关文章</p>
                                            </div>
                                        <% } %>
                                        <input type="hidden" id="totalPages" value="<%= postList.total %>" style="display: none" />
                                    </div>
                                </div>
                            </article>
                        </aside>
                    </main>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function isTop(item) {
            if (item) {
                return `
                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                `
            } else {
                return '';
            }
        }
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        function showHeaderIcon(item) {
            if (item.hearderIcon != '' && item.hearderIcon != null) {
                return `
                    <img src="/${ item.hearderIcon }">
                `
            } else {
                return `<span class="item-random-color" article-author="${item.author}">${item.author.substring(0, 1)}</span>`;
            }
        }
        let renderArticleHtml = item => {
            return `<div class="ghost-card">
                        <div class="ghost-card-body" style="padding: 10px 20px">
                            <a class="target-go" target="_blank" href="/post/articleDetail/${item.articleId}">
                                <div class="ghost-list-item">
                                    <div class="ghost-list-item-main">
                                        <div class="ghost-list-item-meta">
                                            <div class="ghost-list-item-meta-content">
                                                <div class="ghost-pro-components-article-list-content-index-listContent">
                                                    ${ isTop(item.top) }
                                                        <h4 class="ghost-list-item-meta-title fs18">
                                                            ${ item.articleTitle }
                                                        </h4>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ghost-components-article-list-content-index-listContent">
                                            <div class="ghost-components-article-list-content-index-description">
                                                ${ item.articleContent }
                                            </div>
                                            <div class="ghost-components-article-list-content-index-extra">
                                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show">
                                                    ${ showHeaderIcon(item) }
                                                </span>
                                                <a href="javascript:;" class="articleAuthor" style="color: var(--btn-col)">
                                                    <span class="author-name">${ item.author }</span>
                                                </a>
                                                <em class="showTime">${ filterTime(item.publishTime) }</em>
                                                <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary">${ item.articleType }</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>`
            }

        $(function() {
            const keyword = this.location.pathname.split('/')[3];
            // random color
            $(".item-random-color").each(function() {
                const authorName = $(this).attr("article-author");
                $(this).css("background",renderColor(authorName));
            })
            $(".showTime").each(function() {
                let resTime = formatDateFilter($(this).text())
                $(this).text(resTime)
            });
            // init Google Design button click effect 
            Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
            // Init Waves
            Waves.init();

            // init pagination config
            $('.ghost-pagination').pagination({
                total: document.getElementById('totalPages').value,
                pageSize: 10,
                coping: true,
                callback: api => {
                    $('.ghost-loading-mask').css('display', 'block')
                    const currentPage = api.getCurrent()
                    const url = `post/search/'${keyword}/${currentPage}`;
                    myAjax('GET', url).then(res => {
                        if (res.code === 10000) {
                            console.log(111, res)
                            $("#artivleTemplate").empty()
                            res.data.forEach(item => {
                                $("#artivleTemplate").append(renderArticleHtml(item))
                            })
                            $(".item-random-color").each(function() {
                                const authorName = $(this).attr("article-author");
                                $(this).css("background",renderColor(authorName));
                            })
                            setTimeout(function() {
                                $('.ghost-loading-mask').css('display', 'none')
                            }, 500) 
                        }
                    })
                }
            })

            // let total = Math.ceil(($('.total').text() * 1) / 8);
            $('.tab-nav .tab-nav-item a').on('click', function (e) {
                e.preventDefault()
                if (articleType === $(this).text()) {
                    $(this).parent().addClass('tab-active')
                }
            })
            
            // Click on the list item to enter the article details
            $('#artivleTemplate').on('click', '.ghost-list-item', function(event) {
                event.stopPropagation()
                const articleId = $(this).parents(".gohst-index-page").attr("article-id")
                myAjax("POST", "post/addView", { articleId: articleId, userId: $.cookie("userId") })
            })
        })

    </script>
</html>
