<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/collection.png" type="img/x-ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel='stylesheet' href='/style/index.css' />
        <link rel="stylesheet" href="/style/forum/forum.css">
        <% include ../common/script %>
        <style>
            #root .ghost-components-article-list-content-index-description {
                color: var(--col-88);
            }
            #root .ghost-list-item-meta-title:hover {
                text-decoration: underline;
                color: var(--btn-col);
            }
            .ghost-layout {
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: scroll;
            }
            .ghost-components-article-list-content-index-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .ghost-components-article-list-content-index-description .post-pic {
                width: 100px;
                height: 60px;
                object-fit: contain;
            }
            .target-go {
                color: var(--col-88)
            }
            @media screen and (max-width: 420px) {
                .app-search-component {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    height: 44px;
                    background: var(--col-f8);
                }
                .app-search-component .app-search-top {
                    display: flex;
                    padding: 0 15px 0 10px;
                    height: 44px;
                    justify-content: space-between;
                    align-items: center;
                    background: var(--white);
                }
                .app-search-component .app-search-top .app-gohost-hearder-left, .app-search-component .app-search-top .app-gohost-hearder-right {
                    flex-basis: 15%;
                }
                .app-search-component .app-search-top .app-gohost-hearder-mid {
                    flex-grow: 1;
                }
                .app-search-component .app-search-top .app-search-keyword {
                    width: 100%;
                    border-radius: 5px;
                    font-size: var(--fs-14);
                    line-height: 26px;
                    text-indent: 10px;
                    outline: none;
                    -webkit-appearance: none;
                }
                .ghost-list .ghost-card {
                    border-radius: 0;
                }
                .ghost-list .ghost-card .ghost-card-body {
                    margin: 0 15px;
                    padding: 0 0 10px 0;
                    border-bottom: .5px solid var(--col-e9);
                }
                .ghost-components-article-list-content-index-listContent {
                    position: relative;
                }
                .ghost-components-article-list-content-index-listContent .ghost-components-article-list-content-index-extra {
                    margin-top: 10px;
                    font-size: 0;
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-tag-list {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    transform: scale(.8) translateX(-12%);
                }
                .ghost-list .ghost-card .ghost-card-body .ghost-tag {
                    font-size: var(--fs-11);
                }
                .ghost-list .ghost-card .ghost-card-body .app-time {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: var(--fs-11);
                    transform: scale(.8) translateX(12%);
                }
                .ghost-list .ghost-card .ghost-card-body .from-type {
                    transform: scale(.8) translateX(12%);
                }
            }
        </style>
    </head>
    <body>
        <div id="root">
            <div class="ghost-layout">
                <% include ../common/header %>
                <section class="app-search-component app-display">
                    <div class="app-search-top bd-bottom">
                        <div class="app-gohost-hearder-mid">
                            <form action="javascript:return true">
                                <input class="app-search-keyword bd" type="search"  placeholder="keyword" autofocus id="appSearchPage"/>
                            </form>
                        </div>
                        <div class="app-gohost-hearder-right app-search-cancel">
                            <div class="app-gohost-hearder-right-text">取消</div>
                        </div>
                    </div>
                </section>
                <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                    <main  class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                        <div class="ghost-row">
                                <div class="ghost-card" style="background-color: transparent; box-shadow: none">
                                    <div class="ghost-card-box" style="padding: 0">
                                        <div class="ghost-loading-mask" style="display: none">
                                            <div class="ghost-loading-spinner">
                                                <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                            </div>
                                        </div>
                                        <% if (postList.data && (postList.data.length > 0)) { %>
                                        <div class="ghost-list ghost-list-vertical">
                                            <div class="ghost-spin-container postsList" id="artivleTemplate">
                                                <% postList.data.forEach(function(articleItem) {%>
                                                    <a class="target-go" target="_blank" href="/post/articleDetail/<%=articleItem.articleId%>">
                                                        <div class="ghost-card gohst-index-page" article-id="<%= articleItem.articleId%>">
                                                            <div class="ghost-card-body">
                                                                <div class="ghost-list-item">
                                                                    <div class="ghost-list-item-main">
                                                                        <div class="ghost-list-item-meta">
                                                                            <div class="ghost-list-item-meta-content">
                                                                                <div class="ghost-pro-components-article-list-content-index-listContent">
                                                                                    <% if(articleItem.top) { %>
                                                                                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                                                                                    <% } %>
                                                                                    <h4 class="ghost-list-item-meta-title fs18">
                                                                                        <%=articleItem.articleTitle%>
                                                                                    </h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ghost-components-article-list-content-index-listContent">
                                                                            <div class="ghost-components-article-list-content-index-description">
                                                                                <%- articleItem.articleContent %>
                                                                            </div>
                                                                            <div class="ghost-components-article-list-content-index-extra">
                                                                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show web-display">
                                                                                    <% if(articleItem.hearderIcon) { %>
                                                                                        <img src="/<%= articleItem.hearderIcon %>">
                                                                                    <% } else { %> 
                                                                                        <span class="item-random-color" article-author="<%=articleItem.author%>">
                                                                                            <%= articleItem.author.substring(0, 1) %>
                                                                                        </span>  
                                                                                    <% } %>
                                                                                </span>
                                                                                <a href="javascript:" class="articleAuthor web-display" style="color: var(--btn-col)">
                                                                                    <span class="author-name"><%=articleItem.author%></span>
                                                                                </a>
                                                                                <em class="showTime web-display"><%= articleItem.publishTime %></em>
                                                                                <span class="ghost-tag-list">
                                                                                    <% articleItem.articleLabel.forEach(function(labelItem) {%>
                                                                                    <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary"><%= labelItem %></span>
                                                                                    <% }) %>
                                                                                </span>
                                                                                <span class="showTime app-display app-time"><%= articleItem.publishTime %></span>
                                                                                <span class="from-type">来自分类：<%= articleItem.articleType %></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                <% }) %>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% if ((postList.total * 1) < 1) { %>
                                            <div class="ghost-empty">
                                                <dvi class="ghost-empty-image">
                                                    <img src="/images/no_data.png" alt="">
                                                </dvi>
                                                <p class="ghost-empty-description">暂无相关文章</p>
                                            </div>
                                        <% } %>
                                        <!-- <input type="hidden" id="totalPages" value="<%= postList.total %>" style="display: none" /> -->
                                    </div>
                                </div>
                            </article>
                        </aside>
                    </main>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function goPAGE() {
            if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
                $('.target-go').removeAttr('target')
                console.log(111)
            }
        }
        
        function isTop(item) {
            if (item) {
                return `
                    <span class="ghost-tag ghost-tag-has-color" style="background-color: var(--col-top)">置顶</span>
                `
            } else {
                return '';
            }
        }
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        function showHeaderIcon(item) {
            if (item.hearderIcon != '' && item.hearderIcon != null) {
                return `
                    <img src="/${ item.hearderIcon }">
                `
            } else {
                return `<span class="item-random-color" article-author="${item.author}">${item.author.substring(0, 1)}</span>`;
            }
        }
        function showText(content) {
            let showImg = ''
            let showContent = ''
            dealPostList(JSON.parse(content)).forEach(item => {
                showContent += item.value
                if (item.type == 'pic' && item.url) {
                    showImg = `<img class="post-pic" src="${item.url}" />`
                }
            })
            let result =`<div class="ghost-components-article-list-content-index-description"><div class="ghost-components-article-list-show-content">${showContent}</div>${showImg}</div>`
            return result
        }
        let renderArticleHtml = item => {
            return `<a class="target-go" target="_blank" href="/post/articleDetail/${item.articleId}">
                        <div class="ghost-card gohst-index-page" article-id="${item.articleId}">
                            <div class="ghost-card-body">
                                <div class="ghost-list-item">
                                    <div class="ghost-list-item-main">
                                        <div class="ghost-list-item-meta">
                                            <div class="ghost-list-item-meta-content">
                                                <div class="ghost-pro-components-article-list-content-index-listContent">
                                                    ${ isTop(item.top) }
                                                    <h4 class="ghost-list-item-meta-title fs18">
                                                        ${ item.articleTitle }
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ghost-components-article-list-content-index-listContent">
                                            ${ showText(item.articleContent) }
                                            <div class="ghost-components-article-list-content-index-extra">
                                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-mini ghost-avatar-circle ghost-avatar-image langue-show web-display">
                                                    ${ showHeaderIcon(item) }
                                                </span>
                                                <a href="javascript:" class="articleAuthor web-display" style="color: var(--btn-col)">
                                                    <span class="author-name">${ item.author }</span>
                                                </a>
                                                <em class="showTime web-display">${ filterTime(item.publishTime) }</em>
                                                <span class="ghost-tag-list">
                                                    <span class="ghost-tag ghost-tag-has-color ghost-tag-color-primary">${ item.articleType }</span>
                                                </span>
                                                <span class="showTime app-display app-time">${ filterTime(item.publishTime) }</span>
                                                <span class="from-type">来自分类：${ item.articleType }</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>`
            }

        $(function() {
            goPAGE();
            let pageSize = 1;
            const keyword = this.location.pathname.split('/')[3];
            $('.app-search-cancel').on('click', function(event) {
                goPage('')
            })
            $("#appSearchPage").keydown(function(event){
                if (event.keyCode == 13) {
                    let keyword = $(this).val()
                    if (!keyword || keyword == '') return false
                    let url = 'post/search/' + keyword
                    goPage(url)
                }
            })
            // random color
            $(".item-random-color").each(function() {
                const authorName = $(this).attr("article-author");
                $(this).css("background",renderColor(authorName));
            })
            $(".showTime").each(function() {
                let resTime = formatDateFilter($(this).text())
                $(this).html(resTime)
            })
            $('.ghost-components-article-list-content-index-description').each(function() {
                let showContent = ''
                let showImg = ''
                dealPostList(JSON.parse($(this).text())).forEach(item => {
                    showContent += item.value
                    if (item.type == 'pic' && item.url) {
                        showImg = `<img class="post-pic" src="${item.url}" />`
                    }
                })
                $(this).html(`<div class="ghost-components-article-list-show-content">${showContent}</div>`)
                $(this).append(showImg)
            })
            let isLoading = false;
            
            let dropload = $('.ghost-layout').dropload({
                loadDownFn: function(me){
                    if (isLoading) return false;
                    isLoading = true
                    $('.dropload-up').remove()
                    $('.dropload-down').remove()
                    $('.dropload-refresh').remove()
                    const url = `post/search/${keyword}/${pageSize}`
                    myAjax('GET', url).then(res => {
                        if (res.code === 10000 && res.data.length > 0) {
                            $('.ghost-loading-mask').css('display', 'block')
                            pageSize++
                            let result = ''
                            res.data.forEach((item, ind) => {
                                result += renderArticleHtml(item)
                                // if(ind == res.articleList.length - 1) {
                                //     dropload.noData()
                                // }
                            });
                            
                            $(".item-random-color").each(function() {
                                const authorName = $(this).attr("article-author")
                                $(this).css("background",renderColor(authorName))
                                
                            })
                            setTimeout(function() {
                                // 每次数据加载完，必须重置
                                dropload.resetload()
                                isLoading = false
                                $('.ghost-loading-mask').css('display', 'none')
                                $("#artivleTemplate").append(result)
                                translateFun()
                                goPAGE();
                            }, 1000) 
                        } else {
                            // 即使加载出错，也得重置
                            // dropload.noData();
                            dropload.resetload()
                            setTimeout(function() {
                                isLoading = false
                            }, 1000) 
                        }
                    })
                }
            })

            // // init Google Design button click effect 
            // Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
            // // Init Waves
            // Waves.init();

            // // init pagination config
            // $('.ghost-pagination').pagination({
            //     total: document.getElementById('totalPages').value,
            //     pageSize: 10,
            //     coping: true,
            //     callback: api => {
            //         $('.ghost-loading-mask').css('display', 'block')
            //         const currentPage = api.getCurrent()
            //         const url = `post/search/'${keyword}/${currentPage}`;
            //         myAjax('GET', url).then(res => {
            //             if (res.code === 10000) {
            //                 $("#artivleTemplate").empty()
            //                 res.data.forEach(item => {
            //                     $("#artivleTemplate").append(renderArticleHtml(item))
            //                 })
            //                 $(".item-random-color").each(function() {
            //                     const authorName = $(this).attr("article-author");
            //                     $(this).css("background",renderColor(authorName));
            //                 })
            //                 setTimeout(function() {
            //                     $('.ghost-loading-mask').css('display', 'none')
            //                 }, 500) 
            //             }
            //         })
            //     }
            // })

            // let total = Math.ceil(($('.total').text() * 1) / 8);
            $('.tab-nav .tab-nav-item a').on('click', function (e) {
                e.preventDefault()
                if (articleType === $(this).text()) {
                    $(this).parent().addClass('tab-active')
                }
            })
            
            // Click on the list item to enter the article details
            $('#artivleTemplate').on('click', '.ghost-list-item', function(event) {
                event.stopPropagation()
                const articleId = $(this).parents(".gohst-index-page").attr("article-id")
                myAjax("POST", "post/addView", { articleId: articleId, userId: $.cookie("userId") })
            })
            translateFun()
        })

    </script>
</html>
