<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link rel="stylesheet" href="/style/account/reply.css">
        <% include ../../common/script %>
    </head>
    <body>
        <div class="ghost-layout">
            <% include ../../common/header %>
            <% include ../../common/appHeader %>

            <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                <div class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                    <main class="ghost-pro-pages-account-settings-info-main">
                        <aside class="ghost-pro-pages-account-settings-info-leftmenu web-display">
                            <% include ../list %>
                        </aside>
                        <div class="ghost-pro-pages-account-settings-info-right">
                            <div class="ghost-pro-pages-account-settings-info-title web-display">
                                <span lang="myReply">我的回复</span>
                            </div>
                            <!-- comment components start Cooperate List loading-->
                            <article class="comment-demo">
                                <div class="ghost-list comment-list">
                                    <div class="ghost-spin-nested-loading">
                                        <div class="ghost-spin-container" id="replyTemplate"> 
                                            <!-- start rendering -->
                                            <% answerList.commentRes.forEach(function(item) {%>
                                            <article class="ghost-comment ghost-comment-has-color">
                                                <div class="ghost-comment-inner">
                                                    <div class="ghost-comment-avatar">
                                                        <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image">
                                                            <% if(item.hearderIcon) { %>
                                                                <img class="author-headerIcon" src="/<%= item.hearderIcon %>">
                                                            <% } else { %> 
                                                                <span class="item-random-color" comment-user-name="<%= item.COMMENT_USER_NAME %>">
                                                                    <%= item.COMMENT_USER_NAME.substring(0, 1) %>
                                                                </span>  
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                    <div class="ghost-comment-content ghost-comment-parent" data-article-id="<%= item.ARTICLE_ID %>" data-comment-id="<%= item.COMMENT_ID %>">
                                                        <div class="ghost-comment-content-top-box">
                                                            <div class="ghost-comment-content-author">
                                                                <span class="ghost-comment-content-author-name">
                                                                    <a style="color: #475ec0; font-weight: bold"><%= item.COMMENT_USER_NAME %></a>
                                                                </span>
                                                                <span class="ghost-comment-content-author-time time">
                                                                    <span><%= item.CREATED %></span>
                                                                </span>
                                                            </div>
                                                            <div class="ghost-pro-components-article-origin-title fs12">
                                                                From: <a href="/post/articleDetail/<%=item.ARTICLE_ID%>"><%= item.ARTICLE_TITLE %></a>
                                                            </div>
                                                        </div>
                                                        <div class="ghost-comment-content-detail">
                                                            <p><%= item.COMMENT_CONTENT %></p>
                                                        </div>
                                                        
                                                        <ul class="ghost-comment-actions">
                                                            <li>
                                                                <button class="ghost-btn ghost-btn-text ghost-btn-text-default reply-btn web-display">
                                                                    <span lang="answer">回复</span>
                                                                </button>
                                                                <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default app-reply-btn app-display">
                                                                    <span lang="answer">回复</span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="replyFormTemplate"></div>
                                                    </div>
                                                </div>
                                                <% if (item.childrenComentList && item.childrenComentList.length > 0) { %>
                                                <div class="ghost-comment-nested">
                                                    <% item.childrenComentList.forEach(function(nested) { %>
                                                    <div class="ghost-comment">
                                                        <div class="ghost-comment-inner">
                                                            <div class="ghost-comment-content" data-comment-id="<%= nested.CHILD_COMMENT_ID %>">
                                                                <div class="ghost-comment-content-top-box">
                                                                    <div class="ghost-comment-content-author">
                                                                        <span class="ghost-comment-content-author-name">
                                                                            <a style="color: #475ec0; font-weight: bold"><%= nested.COMMENT_USER_NAME %></a>
                                                                        </span>
                                                                        <span class="ghost-comment-content-author-time time">
                                                                            <span><%= nested.CREATED %></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ghost-comment-content-detail">
                                                                    <p>@<span class="ghost-comment-content-commentatorName"><%= nested.COMMENTATOR_NAME%> </span> <%= nested.COMMENT_CONTENT %></p>
                                                                </div>
                                                                <ul class="ghost-comment-actions">
                                                                    <li>
                                                                        <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default reply-btn web-display">
                                                                            <span lang="answer">回复</span>
                                                                        </button>
                                                                        <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default app-reply-btn app-display">
                                                                            <span lang="answer">回复</span>
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                                <div class="replyFormTemplate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                </div>
                                                <% } %>
                                            </article>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% if (answerList.commentRes.length > 0) { %>
                                <ul class="ghost-pagination article_page" style="margin: 24px 0; text-align: center"></ul>
                            <% } %>
                            <input type="hidden" id="totalPages" value="<%= answerList.total %>" style="display: none" />
                            <% if (answerList.commentRes.length < 1) { %>
                                <div class="ghost-empty">
                                    <dvi class="ghost-empty-image">
                                        <img src="/images/no_data.png" alt="">
                                    </dvi>
                                    <p class="ghost-empty-description">暂无回复</p>
                                </div>
                            <% } %>
                            <div class="ghost-loading-mask" style="display: none">
                                <div class="ghost-loading-spinner">
                                    <svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <section class="user-comment-content-mask">
                <div class="user-comment-content">
                    <textarea class="user-comment-textarea" name="" id="" cols="30" rows="10" placeholder="Publish your response..."></textarea>
                    <div class='answer_btn_box'>
                        <div class='app-answer-btn'>comment</div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script type="text/javascript">
        let createReplyForm = `<form class="ghost-form ghost-form-horizontal reply-form" style="border-top: 1px dashed rgba(0,0,0,0.09); padding-top: 16px;">
                                    <div class="ghost-form-item-control-wrapper">
                                        <div class="ghost-form-item-control">
                                            <div class="ghost-row ghost-form-item">
                                                <div class="ghsot-col ghost-col-21" style="padding-right: 8px">
                                                    <textarea id="textareaComment" rows="1" style="max-height: 132px; min-height: 32px;" required placeholder="文明社会，理性评论" class="ghost-input"></textarea>
                                                </div>
                                                <div class="ghsot-col ghost-col-2 submit-reply-parent web-display">
                                                    <button type="button" class="gutter-pd8 ghost-btn ghost-btn-primary waves-float float-button-light waves-effect waves-button waves-float waves-light submit-reply">
                                                        <span>添加回复</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>`
        $(function() {
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('My Replies')
            } else {
                $('.app-page-title').text('我的回复')
            }
            Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light'])

            Waves.init()
            let commentatorName;
            $('.ghost-spin-container').on('click', '.reply-btn', function() {
                $('.reply-form').each(function() {
                    $(this).get(0).remove()
                })
                commentatorName = $(this).parents(".ghost-comment-actions").siblings(".ghost-comment-content-top-box").find(".ghost-comment-content-author-name a").text()
                $(this).parents().parents('.ghost-comment-content').find('.replyFormTemplate').append(createReplyForm);
                $(this).parents().parents('.ghost-comment-content').find('.replyFormTemplate').css({"overflow":"hidden", "margin-bottom": "10px"})
                autosize(document.querySelectorAll('textarea'))
                $(this).parents().parents('.ghost-comment-content').find('.replyFormTemplate textarea').focus()
            })

            // $('.author-headerIcon').each(function() {
            //     const imgSrc = $(this).attr('src')
            //     $(this).attr('src', `${readFileBaseUrl}${imgSrc}`)
            // })

            $(".item-random-color").each(function() {
                const authorName = $(this).attr("comment-user-name");
                $(this).css("background",renderColor(authorName));

            })
            let userId = $.cookie("userId");

            $('.ghost-pagination').pagination({
                total: document.getElementById('totalPages').value,
                pageSize: 5,
                current: 1,
                coping: true,
                isHide: true,
                callback: api => {
                    $('.ghost-loading-mask').css('display', 'block')
                    const currentPage = api.getCurrent()
                    const url = `account/reply/${$.cookie("nickName")}/${currentPage}`;
                    myAjax('GET', url).then(res => {
                        if (res.code === 10000) {
                            $("#replyTemplate").empty()
                            res.commentRes.forEach(item => {
                                $("#replyTemplate").append(renderCommentsHtml(item))
                            })
                            $(".item-random-color").each(function() {
                                const authorName = $(this).attr("comment-user-name");
                                $(this).css("background",renderColor(authorName));
                            })
                            setTimeout(function() {
                                $('.ghost-loading-mask').css('display', 'none')
                                translateFun()
                            }, 500) 
                        }
                    })
                }
            })
            $(".time").each(function() {
                let resTime = formatDateFilter2($(this).text())
                $(this).html(resTime)
            });

            $("#replyTemplate").on("click", ".submit-reply", function(event) {
                event.stopPropagation();
                let commentText = $(this).parent(".submit-reply-parent").prev(".ghsot-col").find(".ghost-input").val();
                let commentId = $(this).parents(".ghost-comment").find(".ghost-comment-parent").attr("data-comment-id");
                let articleId = $(this).parents(".ghost-comment").find(".ghost-comment-parent").attr("data-article-id");
                if (!commentText) return;
                let param = {
                    author: $.cookie("nickName"),
                    userId: userId,
                    nickName: $.cookie('nickName'),
                    commentatorName: commentatorName,
                    articleId: articleId,
                    commentText: commentText,
                    commentId: commentId
                }
                myAjax("POST", "post/addChildrenComment", param).then((res) => {
                    layer.msg(res.message)
                    if (res.code == 10000) {
                        $(this).parents(".reply-form").remove();
                    }
                })
            });
            //--------------------------------------webapp-------------------------------

            $('.user-comment-content-mask').on("touchmove",function(e) {
                e.preventDefault()
                e.stopPropagation()
            })

            $('.user-comment-content-mask').on('click', function(e) {
                e.stopPropagation()
                $('.user-comment-content-mask').css('display', 'none')
            })

            $('.user-comment-content').on('click', function(e) {
                e.stopPropagation()
            })
            let appCommentId, appArticleId
            $('.ghost-spin-container').on('click', '.app-reply-btn', function() {
                $('.user-comment-content-mask').css('display', 'block')
                $('.user-comment-textarea').focus();
                commentatorName = $(this).parents(".ghost-comment-actions").siblings(".ghost-comment-content-top-box").find(".ghost-comment-content-author-name a").text()
                appCommentId = $(this).parents(".ghost-comment").find(".ghost-comment-parent").attr("data-comment-id");
                appArticleId = $(this).parents(".ghost-comment").find(".ghost-comment-parent").attr("data-article-id");
            })
            $('.user-comment-content').on('click', '.app-answer-btn', function(event) {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let commentText = $('.user-comment-textarea').val()
                if (!commentText) return;
                let param = {
                    author: $.cookie("nickName"),
                    userId: userId,
                    nickName: $.cookie('nickName'),
                    commentatorName: commentatorName,
                    articleId: appArticleId,
                    commentText: commentText,
                    commentId: appCommentId
                }
                myAjax("POST", "post/addChildrenComment", param).then((res) => {
                    layer.msg(res.message)
                    if (res.code == 10000) {
                        $('.user-comment-content-mask').css('display', 'none')
                    }
                })
            })
            translateFun()
        })
        function showHeaderIcon(item) {
            if (item.hearderIcon != '' && item.hearderIcon != null) {
                return `
                    <img src="${ item.hearderIcon }">
                `
            } else {
                return `<span class="item-random-color" comment-user-name="${item.commentUserName}">${item.commentUserName.substring(0, 1)}</span>`;
            }
        }
        function replyComment(nested) {
            return `
                <div class="ghost-comment">
                    <div class="ghost-comment-inner">
                        <!-- <div class="ghost-comment-avatar">
                            <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image">
                                <img src="/images/header_icon.png">
                            </span>
                        </div> -->
                        <div class="ghost-comment-content" data-comment-id="${ nested.CHILD_COMMENT_ID }">
                            <div class="ghost-comment-content-top-box">
                                <div class="ghost-comment-content-author">
                                    <span class="ghost-comment-content-author-name">
                                        <a style="color: #475ec0; font-weight: bold">${ nested.COMMENT_USER_NAME }</a>
                                    </span>
                                    <span class="ghost-comment-content-author-time time">
                                        <span>${ nested.CREATED }</span>
                                    </span>
                                </div>
                            </div>
                            <div class="ghost-comment-content-detail">
                                <p>@<span class="ghost-comment-content-commentatorName">${ nested.COMMENTATOR_NAME } </span> ${ nested.COMMENT_CONTENT }</p>
                            </div>
                            <ul class="ghost-comment-actions">
                                <li>
                                    <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default reply-btn web-display">
                                        <span lang="answer">回复</span>
                                    </button>
                                    <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default app-reply-btn app-display">
                                        <span lang="answer">回复</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="replyFormTemplate"></div>
                        </div>
                    </div>
                </div>
            `
        }
        function forrEplyComment(item) {
            if (item.length < 1) return '';
            let childComment = '';
            item.forEach(childItem => {
                childComment += replyComment(childItem);
            })
            return `<div class="ghost-comment-nested">${childComment}</div>`;
        }
        function filterTime(item) {
            return  resTime = formatDateFilter2(item)
        }
        function renderCommentsHtml(item) {
            return `
                <article class="ghost-comment ghost-comment-has-color">
                    <div class="ghost-comment-inner">
                        <div class="ghost-comment-avatar">
                            <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image">
                                ${ showHeaderIcon(item) }
                            </span>
                        </div>
                        <div class="ghost-comment-content ghost-comment-parent" data-article-id="${ item.ARTICLE_ID }" data-comment-id="${ item.COMMENT_ID }">
                            <div class="ghost-comment-content-top-box">
                                <div class="ghost-comment-content-author">
                                    <span class="ghost-comment-content-author-name">
                                        <a style="color: #475ec0; font-weight: bold">${ item.COMMENT_USER_NAME }</a>
                                    </span>
                                    <span class="ghost-comment-content-author-time time">
                                        <span>${ filterTime(item.CREATED) }</span>
                                    </span>
                                </div>
                                <div class="ghost-pro-components-article-origin-title fs12">
                                    From: <a href="/post/articleDetail/${item.articleId}">${ item.ARTICLE_TITLE }</a>
                                </div>
                            </div>
                            <div class="ghost-comment-content-detail">
                                <p>${ item.COMMENT_CONTENT }</p>
                            </div>
                            
                            <ul class="ghost-comment-actions">
                                <li>
                                    <button class="ghost-btn ghost-btn-text ghost-btn-text-default reply-btn web-display">
                                        <span lang="answer">回复</span>
                                    </button>
                                    <button type="button" class="ghost-btn ghost-btn-text ghost-btn-text-default app-reply-btn app-display">
                                        <span lang="answer">回复</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="replyFormTemplate"></div>
                        </div>
                    </div>
                    ${ forrEplyComment(item.childrenComentList) }
                </article>`;
        }
    </script>
</html>



