<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel='stylesheet' href='/style/articleDetail/articleDetail.css'>
        <!-- <link rel='stylesheet' href='/style/index.css'> -->
        <% include ../common/script %>
        <!-- <link href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'> -->
        
        <!-- <script src='/richText/markdown-it/dist/markdown-it.js'></script>
        <script src='/richText/toMark/dist/toMark.js'></script>
        <script src='/richText/tui-code-snippet/dist/tui-code-snippet.js'></script>
        <script src='/richText/tui-color-picker/dist/tui-color-picker.js'></script>
        <script src='/richText/codemirror/lib/codemirror.js'></script>
        <script src='/richText/highlightjs/highlight.pack.js'></script>
        <script src='/richText/squire-rte/build/squire-raw.js'></script>
        <link rel='stylesheet' href='/richText/codemirror/lib/codemirror.css'> -->
        <script type='text/javascript' src='/js/sensitiveWords.js'></script>
        <script type='text/javascript' src='/js/jquery.qrcode.min.js'></script>
    </head>
    <body>
        <div id="articlePage">
            <% include ../common/header %>
            <% include ../common/appHeader %>
            <section class='article_detail_page'>
                <div class='app-author-info app-display'>
                    <div class='app-author-headerIcon'>
                        <% if(article.headerIcon) { %>
                            <img class='head_portrait' src='/<%= article.headerIcon %>'>
                        <% } else { %> 
                            <span class='item-random-color' article-commentUserName='<%=article.AUTHOR%>'>
                                <%= article.AUTHOR.substring(0, 1) %>
                            </span>  
                        <% } %>
                    </div>
                    <div class='app-author-userIfo'>
                        <div class='author_name'><%= article.AUTHOR %></div>
                        <div class='author_autograph'><%= article.personalProfile %></div>
                    </div>
                </div>
                <div class='article_left box-shadow bd-radius-5'>
                    <div class='title_box pd-rl30'>
                        <div class='title'><%= article.ARTICLE_TITLE %></div>
                        <ul class='icon_data'>
                            <li class='data_item'>
                                source：<a target='_blank' href='/topic/<%= article.ARTICLE_TYPE %>'><span class='eth'><%= article.ARTICLE_TYPE %></span></a>
                            </li>
                            <li class='data_item web-display'>
                                <%= article.VIEW_COUNT %> <span lang="view">次阅读</span>
                            </li>
                            <li class='data_item showTime web-display'><%= article.PUBLISH_TIME.substring(0, 10) %></li>
                            <li class='data_item source-type'>
                                <%  article.ARTICLE_LABEL.forEach(function(item) { %>
                                <span class='article-source bd-radius-3'><%= item %></span>
                                <% }) %>
                            </li>
                        </ul>
                    </div>
                    <div class='content'>
                        <%= article.ARTICLE_CONTENT %>
                    </div>
                    <div class='code-html pd-rl30'>
                        <!-- <script src='/richText/plantuml-encoder/dist/plantuml-encoder.js'></script>
                        <script src='/richText/raphael/raphael.js'></script>
                        <script src='/richText/tui-chart/dist/tui-chart.js'></script>
                        <script src='/richText/tui-editor-Editor-all.js'></script>
                        <link rel='stylesheet' href='/richText/tui-editor.css'>
                        <link rel='stylesheet' href='/richText/tui-editor-contents.css'>
                        <link rel='stylesheet' href='/richText/tui-color-picker/dist/tui-color-picker.css'>
                        <link rel='stylesheet' href='/richText/tui-chart/dist/tui-chart.css'>
                        <div id='editSection'></div> -->
                    </div>
                    <div class="app-text-data app-display">
                        <ul class="app-data-list">
                            <li class="app-data-item"><%= article.VIEW_COIUNT %> <span lang="view">次阅读</span></li>
                            <li class="app-data-item"><%= article.COLLECT_COUNT %> <span lang="collects">人收藏</span></li>
                            <li class="app-data-item"><%= article.LIKE_COUNT %>  <span lang="likes">人喜欢</span></li>
                            <li class="app-data-item showTime app-showTime"><%= article.PUBLISH_TIME.substring(0, 10) %></li>
                        </ul>
                    </div>
                    <div class='btn_box web-display'>
                        <div class='shared_icon_box'>
                            <ul class='share_icon'>
                                <li class='shared_item shared_wechart'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-weixin'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_weibo'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-weibo'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_douban'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-douban1'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_tieba'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-tieba'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_facebook'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-facebook1'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_twitter'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-twitter'></use>
                                    </svg>
                                </li>
                                <li class='shared_item shared_erweima'>
                                    <svg class='iconSvg' aria-hidden='true'>
                                        <use xlink:href='#icon-erweima1'></use>
                                    </svg>
                                </li>
                            </ul>
                            <!-- <div class='triangle_right'></div> -->
                        </div>
                        <div class='like_btn_box'>
                            <div class='like_btn'>
                                <span class='btn_left_triangle'></span>
                                <div class='center_btn'>
                                    <% if (article.IS_LIKE) { %>
                                        <img class='like' src='/images/like.png' alt=''>
                                    <% } else { %>   
                                        <img class='no_like' src='/images/no_like.png' alt=''>
                                    <% } %>
                                    <span lang="like">喜欢</span>
                                    <span class='is_like' style='display: none'><%= article.IS_LIKE %></span>
                                </div>
                                <span class='btn_right_triangle'></span>
                            </div>
                            <div class='like_count'><%= article.LIKE_COUNT %> <span lang="likes">人喜欢</span></div>
                            <span class='like_num' style='display:none'><%= article.LIKE_COUNT %></span>
                        </div>
                        <div class='collection_btn_box'>
                            <div class='collection_btn add-collect-btn not_collect bd-radius-5'>
                                <% if (article.IS_COLLECT) { %>
                                    <img class='collection' src='/images/collection.png' alt=''>
                                <% } else { %>   
                                    <img class='collection_black' src='/images/collection_black.png' alt='' >
                                <% } %>  
                                <span lang="collect">收藏</span>
                                <span class='is_collect' style='display: none'><%= article.IS_COLLECT %></span>
                            </div>
                            <div class='collection_num'><%= article.COLLECT_COUNT %> <span lang="collects">人已收藏</span></div>
                        </div>
                        
                    </div>
                    <div class='write_comment_box web-display'>
                        <p class='comment_num'><span lang="comments">评论</span>(<%= article.commentTotal %>)</p>
                        <div class='textarea_box'>
                            <textarea class='write_comment' name='writeComent' id='' cols='30' rows='10' placeholder='What do you want to say?'></textarea>
                        </div>
                        <div class='comment_btn_box'>
                            <div class='comment_btn' lang="comment">评论</div>
                        </div>
                    </div>
                    <div class='comment_list' id='commentTemplate'>
                        <div class='comment_total' style='display:none'><%= article.commentTotal %></div>
                        <% article.comments.forEach(function(commentItem) {%>
                            <div class='comment_item parent_comment bd-bottom'>
                                <div class='comment_top'>
                                    <!-- <img class='commentator_img' src='/images/man1.png' alt=''> -->
                                    <% if(commentItem.hearderIcon) { %>
                                        <img class='commentator_img' src='/<%= commentItem.hearderIcon %>'>
                                    <% } else { %> 
                                        <span class='item-random-color commentator_user_name' article-commentUserName='<%=commentItem.commentUserName%>'>
                                            <%= commentItem.commentUserName.substring(0, 1) %>
                                        </span>  
                                    <% } %>
                                    <div class="commentator-name-box">
                                        <div class='commentator_name one_level'><%= commentItem.commentUserName %></div>
                                        <div class='comment_time time app-comment-time'><%= commentItem.commentTime %></div>
                                    </div>
                                </div>
                                <div class='coment_mid'>
                                    <%= commentItem.commentContent %>
                                </div>
                                <div class='comment_id del_comment_id' style='display:none'><%= commentItem.commentId %></div>
                                <div class='comment_userId' style='display:none'><%= commentItem.userId %></div>
                                <div class='eidt_answer'>
                                        <div class='answer web-display' lang="answer">回复</div>
                                        <div class='app-answer app-display' lang="answer">回复</div>
                                    <div class='comment_type' style='display: none'>parent</div>
                                </div>
                                <% if (commentItem.childrenComentList && commentItem.childrenComentList.length > 0) { %>
                                    <% commentItem.childrenComentList.forEach(function(childrenItem) {%>
                                        <div class='children_commentator_box'>
                                            <div class='comment_item childer_item'>
                                                <div class='comment_top'>
                                                    <!-- <img class='commentator_img' src='/images/man1.png' alt=''> -->
                                                    <!-- <span class='geren-bg bd-radius-round dom-random-color'><%= childrenItem.commentUserName.substring(0, 1) %></span> -->
                                                    <div class='commentator_name children_commentator_name'><%= childrenItem.commentUserName %></div>
                                                    <div class='comment_time time'><%= childrenItem.commentTime %></div>
                                                </div>
                                                <div class='coment_mid'>
                                                    @<span class='reply_man'><%= childrenItem.commentatorName %></span>
                                                    <%= childrenItem.commentContent %>
                                                </div>
                                                <div class='child_comment_id del_comment_id' style='display:none'><%= childrenItem.childCommentId %></div>
                                                <div class='comment_userId' style='display:none'><%= childrenItem.userId %></div>
                                                <div class='eidt_answer'>
                                                    <div class='answer web-display' lang="answer">回复</div>
                                                    <div class='app-answer app-display' lang="answer">回复</div>
                                                    <div class='comment_type' style='display: none'>child</div>
                                                    <!-- <div class='delete' lang="delete">删除</div> -->
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>  
                                <% } %>  
                                <div class='comment_bottmo web-display'>
                                    <div class='answer_box' contenteditable='true' data-placeholder='What do you want to say?'></div>
                                    <div class='answer_btn_box'>
                                        <div class='answer_btn' lang="comment">评论</div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>  
                    </div>
                    <!-- <% if (article.comments.length > 0) { %>
                        <ul class='ghost-pagination article_page' style='margin: 24px 0; text-align: center'></ul>
                    <% } %> -->
                    <!-- <input type='hidden' id='totalPages' value='<%= article.total %>' style='display: none' /> -->
                </div>
                <div class='article_right web-display'>
                    <div class='personal_box'>
                        <div class='info_top'>
                            <% if(article.headerIcon) { %>
                                <img class='head_portrait' src='/<%= article.headerIcon %>'>
                            <% } else { %> 
                                <span class='item-random-color' article-commentUserName='<%=article.AUTHOR%>'>
                                    <%= article.AUTHOR.substring(0, 1) %>
                                </span>  
                            <% } %>
                            <div class='my_name'><%= article.AUTHOR %></div>
                            <div class='my_autograph'><%= article.personalProfile %></div>
                        </div>
                        <div class='info_down bd-top'>
                            <img class='crown_icon' src='/images/crown.png' alt=''>
                            <div class='follow down_item bd-right'>
                                <div class='text' lang="like">喜欢</div>
                                <div class='count'><%= article.LIKE_COUNT %></div>
                            </div>
                            <div class='fans down_item'>
                                <div class='text' lang="collect">收藏</div>
                                <div class='count'><%= article.COLLECT_COUNT %></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='float_window web-display'>
                    <div class='to_top float_box'>
                        <div class='triangle_top'></div>
                        <div class='icon_box'>
                            <svg class='iconSvg' aria-hidden='true'>
                                <use xlink:href='#icon-fanhuidingbu'></use>
                            </svg>
                            <span class='float_text'>回到<br />顶部</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class='qrcode_body'>
                <div class='modal_box'>
                    <div class='modal_header'>
                        <svg class='iconSvg' aria-hidden='true'>
                            <use xlink:href='#icon-shanchu1'></use>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <div class='ghost-loading-mask'>
                <div class='ghost-loading-spinner'>
                    <svg viewBox='25 25 50 50' class='circular'><circle cx='50' cy='50' r='20' fill='none' class='path'></circle></svg>
                </div>
            </div>
            <div class='confirm_box'>
                <div class='content_box'>
                    <div class='delete_tip' lang="isDelete">确定删除评论？</div>
                    <div class='confirm_btn_box'>
                        <div class='btn_item sure' lang="sure">确定</div>
                        <div class='btn_item cancel' lang="cancel">取消</div>
                    </div>
                </div>
            </div>
            <section class="user-comment-content-mask">
                <div class="user-comment-content">
                    <textarea class="user-comment-textarea" name="" id="" cols="30" rows="10" placeholder="Publish your response..."></textarea>
                    <div class='answer_btn_box'>
                        <div class='app-answer-btn' lang="comment">评论</div>
                    </div>
                </div>
            </section>
            <footer class="app-article-footer bd-top app-display">
                <div class="response-text-box">
                    Publish your response...
                </div>
                <div class="app-user-do-icon">
                    <ul class="app-user-do-icon-list">
                        <li class="app-user-do-item like_btn">
                            <% if (article.IS_LIKE) { %>
                                <svg class='iconSvg' aria-hidden='true'>
                                    <use xlink:href='#icon-shoucang-copy-copy'></use>
                                </svg>
                            <% } else { %>   
                                <svg class='iconSvg' aria-hidden='true'>
                                    <use xlink:href='#icon-shoucang-copy'></use>
                                </svg>
                            <% } %>
                        </li>
                        <li class="app-user-do-item add-collect-btn">
                            <% if (article.IS_COLLECT) { %>
                                <svg class='iconSvg' aria-hidden='true'>
                                    <use xlink:href='#icon-unie601-copy'></use>
                                </svg>
                            <% } else { %>   
                                <svg class='iconSvg' aria-hidden='true'>
                                    <use xlink:href='#icon-unie601'></use>
                                </svg>
                            <% } %>  
                        </li>
                        <li class="app-user-do-item">
                            <svg class='iconSvg' aria-hidden='true'>
                                <use xlink:href='#icon-icon_zhuanfa'></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
    <script type='text/javascript'>
        let articleId, articleTitle
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        $(function(){
            let author = $('.my_name').text()
            let userId =  $.cookie('userId');
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('Article Detail')
            } else {
                $('.app-page-title').text('文章详情')
            }
            // Get article from the URL
            (function () {
                articleId = this.location.pathname.split('/')[3]
                articleTitle = $('.title').text()
                $('.time').each(function() {
                    let resTime = formatDateFilter($(this).text())
                    $(this).html(resTime)
                })
                $('.item-random-color').each(function() {
                    const authorName = $(this).attr('article-commentUserName')
                    $(this).css('background',renderColor(authorName))

                })
            })()
            // init pagination config
            let isLoading = false;
            let pageSize = 1;
            
            let dropload = $('.article_detail_page').dropload({
                loadDownFn: function(me){
                    if (isLoading) return false;
                    isLoading = true
                    $('.dropload-up').remove()
                    $('.dropload-down').remove()
                    $('.dropload-refresh').remove()
                    const url = `post/articleDetail/${articleId}/${pageSize}`
                    myAjax('GET', url).then(res => {
                        pageSize++
                        $('.ghost-loading-mask').css('display', 'block')
                        if (res.code === 1) {
                            let result = ''
                            res.comments.forEach(item => {
                                result += renderCommentsHtml(item)
                            })
                            $(".item-random-color").each(function() {
                                const authorName = $(this).attr("article-commentUserName");
                                $(this).css("background",renderColor(authorName));

                            })
                            setTimeout(function() {
                                $('.ghost-loading-mask').css('display', 'none')
                                $("#commentTemplate").append(result)
                                translateFun()
                            }, 500) 
                        }
                    })
                }
            })
            $('.dropload-up').remove()
            $('.dropload-down').remove()
            $('.dropload-refresh').remove()
            // $('.ghost-pagination').pagination({
            //     total: document.getElementById('totalPages').value,
            //     pageSize: 10,
            //     current: 1,
            //     coping: true,
            //     isHide: true,
            //     callback: api => {
            //         $('.ghost-loading-mask').css('display', 'block')
            //         const currentPage = api.getCurrent()
            //         const url = `post/articleDetail/${articleId}/${currentPage}`
            //         myAjax('GET', url).then(res => {
            //             if (res.code === 1) {
            //                 $('#commentTemplate').empty()
            //                 res.comments.forEach(item => {
            //                     $('#commentTemplate').append(renderCommentsHtml(item))
            //                 })
            //                 $(".item-random-color").each(function() {
            //                     const authorName = $(this).attr("article-commentUserName");
            //                     $(this).css("background",renderColor(authorName));

            //                 })
            //                 setTimeout(function() {
            //                     $('.ghost-loading-mask').css('display', 'none')
            //                 }, 500) 
            //             }
            //         })
            //     }
            // })
            $('.showTime').each(function() {
                let resTime = formatDateFilter($(this).text())
                $(this).html(resTime)
            })
            
            // share article
            var _title = articleTitle,_source,_sourceUrl,_pic,_showcount,_desc,_summary,_site,
                _width = 600,
                _height = 600,
                _top = (screen.height-_height)/2,
                _left = (screen.width-_width)/2
            // show share box
            $('.shared_div').on('click', function(event) {
                event.stopPropagation()
                $('.shared_icon_box').css('display', 'block')
            })
            // shareToWeChart
            $('.shared_wechart').on('click', function(event) {
                event.stopPropagation()
                $('canvas').remove()
                $('.modal_body').remove()
                let qrcode = $('.shared_wechart').qrcode(location.href)
                $('.modal_box').append(`<div class='modal_body'><h5>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h5></div> `)
                $('.modal_body').append(qrcode.find('canvas'))
                $('.qrcode_body').css('display', 'block')
            })
            // shareToErweima
            $('.shared_erweima').on('click', function(event) {
                event.stopPropagation()
                $('canvas').remove()
                $('.modal_body').remove()
                let qrcode = $('.shared_wechart').qrcode(location.href)
                $('.modal_box').append(`<div class='modal_body'></div> `)
                $('.modal_body').append(qrcode.find('canvas'))
                $('.qrcode_body').css('display', 'block')
            })
            $('.modal_header').find('.iconSvg').on('click', function(event) {
                event.stopPropagation()
                $('.qrcode_body').css('display', 'none')
            })
            // shareToWB
            $('.shared_weibo').on('click', function(event) {
                event.stopPropagation()
                var _shareUrl = 'http://v.t.sina.com.cn/share/share.php?&appkey=895033136'     //真实的appkey，必选参数 
                _shareUrl += '&url='+ encodeURIComponent(location.href)     //参数url设置分享的内容链接|默认当前页location，可选参数
                _shareUrl += '&title=' + encodeURIComponent(_title)    //参数title设置分享的标题|默认当前页标题，可选参数
                _shareUrl += '&source=' + encodeURIComponent(_source||'')
                _shareUrl += '&sourceUrl=' + encodeURIComponent(_sourceUrl||'')
                _shareUrl += '&content=' + 'utf-8'   //参数content设置页面编码gb2312|utf-8，可选参数
                _shareUrl += '&pic=' + encodeURIComponent(_pic||'')  //参数pic设置图片链接|默认为空，可选参数
                window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',top='+_top+',left='+_left+',toolbar=no,menubar=no,scrollbars=no, resizable=1,location=no,status=0')
            })
            // shareToDouBan
            $('.shared_douban').on('click', function(event) {
                event.stopPropagation()
                var _shareUrl = 'http://shuo.douban.com/!service/share?'
                _shareUrl += 'href=' + encodeURIComponent(location.href)    //分享的链接
                _shareUrl += '&name=' + encodeURIComponent(_title)    //分享的标题
                _shareUrl += '&image=' + encodeURIComponent(_pic||'')    //分享的图片
                window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',left='+_left+',top='+_top+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0')
            })
            // shareToTieBa
            $('.shared_tieba').on('click', function(event) {
                event.stopPropagation()
                var _shareUrl = 'http://tieba.baidu.com/f/commit/share/openShareApi?'
                _shareUrl += 'title=' + encodeURIComponent(_title)
                _shareUrl += '&url=' + encodeURIComponent(location.href)
                _shareUrl += '&pic=' + encodeURIComponent(_pic||'')
                window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',left='+_left+',top='+_top+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0')
            })
            // shareToFacebook
            $('.shared_facebook').on('click', function(event) {
                event.stopPropagation()
                console.log(_title)
                var _shareUrl = 'http://www.facebook.com/sharer/sharer.php?'
                _shareUrl += 'u=' + encodeURIComponent(location.href)
                _shareUrl += '&t=' + encodeURIComponent(_title)
                window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',left='+_left+',top='+_top+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0')
            })
            // shareToTwitter
            $('.shared_twitter').on('click', function(event) {
                event.stopPropagation()
                var _shareUrl = 'http://twitter.com/intent/tweet?'
                _shareUrl += 'url=' + encodeURIComponent(location.href)
                _shareUrl += '&text=' + encodeURIComponent(_title)
                window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',left='+_left+',top='+_top+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0')
            })


            //---------------------------------------------------------------
            let showContent = JSON.parse($('.content').text())
            // console.log(dealArticleContent(showContent))
            dealArticleContent(showContent).forEach(item => {
                $('.code-html').append(item.value)
            })
            // $('.code-html').html()
            //---------------------------------------------------------------


            // render content
            // let content = JSON.parse($('.content').text()).join('\n')
            // let editor = new tui.Editor({
            //     el: document.querySelector('#editSection'),
            //     previewStyle: 'vertical',
            //     height: 'auto',
            //     initialEditType: 'markdown',
            //     useCommandShortcut: true,
            //     initialValue: content,
            //     exts: ['scrollSync', 'colorSyntax', 'uml', 'chart', 'mark', 'table', 'taskCounter'],
            // })
            // loading mask
            let setTime = setInterval(() => {
                let editorH = document.getElementsByClassName('code-html')[0].offsetHeight
                if (editorH > 0) {
                    $('.ghost-loading-mask').css('display', 'none')
                    clearInterval(setTime);
                }
            }, 500);
            // create answer box
            let commentatorName
            $('.comment_list').on('click', '.answer', function(event) {    
                event.stopPropagation()
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                commentatorName = ''
                commentatorName = $(this).parent().siblings('.comment_top').find('.commentator_name').text()
                $(this).parents('.parent_comment').find('.comment_bottmo').css({display: 'block'})
                $(this).parents('.parent_comment').siblings().find('.comment_bottmo').css({display: 'none'})
            })
            // submit comment
            $('.comment_btn_box').on('click', function() {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let commentText = $('.write_comment').val()
                if (!commentText) return
                let param = {
                    userId: userId,
                    commentatorName: author,
                    nickName: $.cookie('nickName'),
                    articleTitle: articleTitle,
                    articleId: articleId,
                    commentText: commentText
                }
                myAjax('POST', 'post/addComment', param).then((res) =>{
                    if (res.code == 10000) {
                        let commentDetail = {
                            commentatorName: author,
                            headerIcon: localStorage.getItem('headerIcon') ? localStorage.getItem('headerIcon') : '',
                            commentUserName: $.cookie('nickName'),
                            commentContent: commentText,
                            commentId: res.commentId,
                            commentTime: format('yyyy-MM-dd hh:mm:ss', new Date())
                        }
                        $('.comment_list').append(addCommentHtml(commentDetail))
                        $('.write_comment').val('')
                        let addCom = ($('.comment_total').text() * 1) + 1
                        $('.comment_num').text(`评论(${addCom})`)
                        $('.comment_total').text(addCom)
                        translateFun()
                    } else {
                        console.log(res.message)
                    }
                })
            })
            // submit children comment
            $('.comment_list').on('click', '.answer_btn', function(event) {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let commentText = $('.answer_box').text()
                let commentId = $(this).parents('.parent_comment').find('.comment_id').text()
                if (!commentText) return
                event.stopPropagation()
                let param = {
                    author: author,
                    userId: userId,
                    commentatorName: commentatorName,
                    nickName: $.cookie('nickName'),
                    articleId: articleId,
                    commentText: commentText,
                    commentId: commentId
                }
                myAjax('POST', 'post/addChildrenComment', param).then((res) => {
                    if (res.code == 10000) {
                        let commentDetail = {
                            commentatorName: commentatorName,
                            commentUserName: $.cookie('nickName'),
                            commentContent: commentText,
                            commentId: res.commentId,
                            commentTime: format('yyyy-MM-dd hh:mm:ss', new Date())
                        }
                        $('.answer_box').text('')
                        $(this).parents('.comment_bottmo').before(childrenRenderComment(commentDetail))
                        $(this).parents('.comment_bottmo').css({display: 'none'})
                        let addCom = ($('.comment_total').text() * 1) + 1
                        $('.comment_num').text(`评论(${addCom})`)
                        $('.comment_total').text(addCom)
                        translateFun()
                    }
                })
            })
            // add collect
            $('.add-collect-btn').on('click', function() {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let collectionNum = parseInt($('.collection_num').text())
                if(window.event){ // IE
                    event.cancelBubble  = true
                }else{
                    event.stopPropagation()
                }
                let param = {
                    author: $.cookie('nickName'),
                    userId: userId,
                    articleId: articleId
                }
                myAjax('POST', 'post/addCollect', param).then((res) => {
                    if (res.code == 10000) {
                        if (!res.isCollect) {
                            $('.collection').addClass('dp-none')
                            $('.collection').after("<img class='collection_black' src='/images/collection_black.png' alt='' >")
                            $('.collection_num').html((collectionNum - 1) + ' <span lang="collects"> 人已收藏</span>')
                            collectionNum = collectionNum - 1
                            $('.is_collect').text('false')
                            if ($(this).hasClass('app-user-do-item')) {
                                $(this).empty().append(`<svg class='iconSvg' aria-hidden='true'><use xlink:href='#icon-unie601'></use></svg>`)
                            }
                        } else {
                            if ($('.collection').hasClass('dp-none')) {
                                $('.collection').removeClass('dp-none')
                            } else {
                                $('.collection_black').before("<img class='collection' src='/images/collection.png' alt='' >")
                            }
                            $('.collection_black').remove()
                            $('.collection_num').html((collectionNum + 1) + ' <span lang="collects"> 人已收藏</span>')
                            collectionNum = collectionNum + 1
                            $('.is_collect').text('true')
                            if ($(this).hasClass('app-user-do-item')) {
                                $(this).empty().append(`<svg class='iconSvg' aria-hidden='true'><use xlink:href='#icon-unie601-copy'></use></svg>`)
                            }
                        }
                        $('.fans').find('.count').text(collectionNum)
                        translateFun()
                    } else {
                        console.log('请求失败！')
                    }
                })
            })
            // like
            $('.like_btn').on('click', function() {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let likeCount = parseInt($('.like_num').text())
                if(window.event){ // IE
                    event.cancelBubble  = true
                }else{
                    event.stopPropagation()
                }
                let param = {
                    author: $.cookie('nickName'),
                    userId: userId,
                    articleId: articleId
                }
                myAjax('POST', 'post/addLike', param).then((res) => {
                    if (res.code == 10000) {
                        if (!res.isLike) {
                            $('.like').addClass('dp-none')
                            $('.like').after("<img class='no_like' src='/images/no_like.png' alt='' >")
                            $('.like_num').html(likeCount - 1 + '<span lang="likes"> 人喜欢</span>')
                            likeCount = likeCount - 1
                            $('.like_count').html(likeCount + '<span lang="likes"> 人喜欢</span>')
                            $('.is_like').text('false')
                            if ($(this).hasClass('app-user-do-item')) {
                                $(this).empty().append(`<svg class='iconSvg' aria-hidden='true'><use xlink:href='#icon-shoucang-copy'></use></svg>`)
                            }
                        } else {
                            if ($('.like').hasClass('dp-none')) {
                                $('.like').removeClass('dp-none')
                            } else {
                                $('.no_like').before("<img class='like' src='/images/like.png' alt='' >")
                            }
                            $('.like_num').html(likeCount + 1 + ' <span lang="likes"> 人喜欢</span>')
                            likeCount = likeCount + 1
                            $('.like_count').html(likeCount + ' <span lang="likes"> 人喜欢</span>')
                            $('.no_like').remove()
                            $('.is_like').text('true')
                            if ($(this).hasClass('app-user-do-item')) {
                                $(this).empty().append(`<svg class='iconSvg' aria-hidden='true'><use xlink:href='#icon-shoucang-copy-copy'></use></svg>`)
                            }
                        }
                        $('.follow').find('.count').text(likeCount)
                        translateFun()
                    } else {
                        console.log('请求失败！')
                    }
                })
            })
            // add delete dom
            $('.comment_item').each(function() {
                if ($(this).children('.comment_userId').text() == $.cookie('userId')) {
                    $(this).children('.eidt_answer').append(`<div class='delete' lang="delete">删除</div>`)
                }
            })
            // delete myself comment
            let delCommentId = ''
            let commentType = ''
            let delDom
            $('.comment_list').on('click', '.delete', function(event) {
                event.stopPropagation()
                delDom = $(this)
                delCommentId = $(this).parent().siblings('.del_comment_id').text()
                commentType = $(this).prev().text()
                $('.confirm_box').css('display', 'block')
            })
            // sure delete
            $('.sure').on('click', function() {
                let param = {
                    userId: userId,
                    articleId: articleId,
                    commentId: delCommentId,
                    commentType: commentType
                }
                myAjax('POST', 'post/deleteComment', param).then(res => {
                    layer.msg(res.message)
                    $('.confirm_box').css('display', 'none')
                    if (res.code == 10014) {
                        if (commentType == 'parent') {
                            delDom.parents('.comment_item').remove()
                        } else {
                            delDom.parents('.childer_item').remove()
                        }
                        let addCom = ($('.comment_total').text() * 1) - 1
                        $('.comment_num').text(`评论(${addCom})`)
                        $('.comment_total').text(addCom)
                    } else {
                        console.log(res)
                    }
                })
            })
            // cancel delete
            $('.cancel').on('click', function() {
                $('.confirm_box').css('display', 'none')
            })
            // go to top
            $('.to_top').hide()
            $(window).scroll(function(){
                if($(this).scrollTop() > 100){
                    $('.to_top').fadeIn()
                }else{
                    $('.to_top').fadeOut()
                }
            })
            $('.to_top').click(function(){
                $('html ,body').animate({scrollTop: 0}, 300)
                return false
            })
            // --------------------------------------------app-------------------------------
            // show user-comment-content-mask
            $('.response-text-box').on('click', function(e) {
                e.stopPropagation()
                $('.app-answer-btn').addClass('app-submit-comment')
                $('.app-answer-btn').removeClass('app-answer-comment')
                $('.user-comment-content-mask').css('display', 'block')
                $('.user-comment-textarea').focus();
            })
            // no touchmove
            $('.user-comment-content-mask').on("touchmove",function(e) {
                e.preventDefault()
                e.stopPropagation()
            })
            // hide user-comment-content-mask
            $('.user-comment-content-mask').on('click', function(e) {
                e.stopPropagation()
                $('.user-comment-content-mask').css('display', 'none')
            })
            // don't stopPropagation
            $('.user-comment-content').on('click', function(e) {
                e.stopPropagation()
            })
            // submit one class comment
            $('.user-comment-content').on('click', '.app-submit-comment', function(e) {
                e.stopPropagation()
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let commentText = $('.user-comment-textarea').val()
                if (!commentText) return
                let param = {
                    userId: userId,
                    commentatorName: author,
                    nickName: $.cookie('nickName'),
                    articleTitle: articleTitle,
                    articleId: articleId,
                    commentText: commentText
                }
                myAjax('POST', 'post/addComment', param).then((res) =>{
                    if (res.code == 10000) {
                        let commentDetail = {
                            commentatorName: author,
                            headerIcon: localStorage.getItem('headerIcon') ? localStorage.getItem('headerIcon') : '',
                            commentUserName: $.cookie('nickName'),
                            commentContent: commentText,
                            commentId: res.commentId,
                            commentTime: format('yyyy-MM-dd hh:mm:ss', new Date())
                        }
                        $('.comment_list').append(addCommentHtml(commentDetail))
                        $('.user-comment-textarea').val('')
                        let addCom = ($('.comment_total').text() * 1) + 1
                        $('.comment_num').text(`评论(${addCom})`)
                        $('.comment_total').text(addCom)
                        $('.user-comment-content-mask').css('display', 'none')
                    } else {
                        layer.msg(res.message)
                        console.log(res.message)
                    }
                })
            })
            // submit child comment
            let appCommentId = ''
            let $self = '';
            $('.comment_list').on('click', '.app-answer', function(e) {
                e.stopPropagation()
                $('.app-answer-btn').removeClass('app-submit-comment')
                $('.app-answer-btn').addClass('app-answer-comment')
                commentatorName = ''
                commentatorName = $(this).parent().siblings('.comment_top').find('.commentator_name').text()
                appCommentId = ''
                appCommentId = $(this).parents('.parent_comment').find('.comment_id').text()
                $self = $(this)
                $('.user-comment-content-mask').css('display', 'block')
                $('.user-comment-textarea').focus();
            })
            $('.user-comment-content').on('click', '.app-answer-comment', function(event) {
                if (!userId) {
                    goPage('user/login')
                    return false
                }
                let commentText = $('.user-comment-textarea').val()
                
                if (!commentText) return
                event.stopPropagation()
                let param = {
                    author: author,
                    userId: userId,
                    commentatorName: commentatorName,
                    nickName: $.cookie('nickName'),
                    articleId: articleId,
                    commentText: commentText,
                    commentId: appCommentId
                }
                
                myAjax('POST', 'post/addChildrenComment', param).then((res) => {
                    if (res.code == 10000) {
                        let commentDetail = {
                            commentatorName: commentatorName,
                            commentUserName: $.cookie('nickName'),
                            commentContent: commentText,
                            commentId: res.commentId,
                            commentTime: format('yyyy-MM-dd hh:mm:ss', new Date())
                        }
                        $('.user-comment-textarea').val('')
                        $self.parents('.parent_comment').append(childrenRenderComment(commentDetail))
                        let addCom = ($('.comment_total').text() * 1) + 1
                        $('.comment_num').text(`评论(${addCom})`)
                        $('.comment_total').text(addCom)
                        $('.user-comment-content-mask').css('display', 'none')
                    } else {
                        layer.msg(res.message)
                    }
                })
            })
            translateFun()
        })
        function renderCommentsHtml(item) {
            return `
                <div class='comment_item parent_comment bd-bottom'>
                    <div class='comment_top'>
                        ${ showHeaderIcon(item) }
                        <div class="commentator-name-box">
                            <div class='commentator_name'>${ item.commentUserName }</div>
                            <div class='comment_time time'>${ filterTime(item.commentTime) }</div>
                        </div>
                    </div>
                    <div class='coment_mid'>
                        ${ item.commentContent }
                    </div>
                    <div class='comment_id del_comment_id' style='display:none'>${ item.commentId }</div>
                    <div class='comment_userId' style='display:none'>${ item.userId }</div>
                    <div class='eidt_answer'>
                            <div class='answer web-display' lang="answer">回复</div>
                            <div class='app-answer app-display' lang="answer">回复</div>
                        <div class='comment_type' style='display: none'>parent</div>
                    </div>
                    ${ forChileComment(item.childrenComentList) }
                    <div class='comment_bottmo'>
                        <div class='answer_box' contenteditable='true' data-placeholder='What do you want to say?'></div>
                        <div class='answer_btn_box'>
                            <div class='answer_btn' lang="comment">评论</div>
                        </div>
                    </div>
                </div>
            `
        }
        function addCommentHtml(item) {
            return `<div class='comment_item parent_comment'>
                        <div class='comment_top'>
                            ${ showHeaderIcon(item) }
                            <div class="commentator-name-box">
                                <div class='commentator_name'>${ item.commentUserName }</div>
                                <div class='comment_time time'>${ filterTime(item.commentTime) }</div>
                            </div>
                        </div>
                        <div class='coment_mid'>
                            ${ item.commentContent }
                        </div>
                        <div class='comment_id del_comment_id' style='display:none'>${ item.commentId }</div>
                        <div class='comment_userId' style='display:none'>${ $.cookie('userId') }</div>
                        <div class='eidt_answer'>
                            <div class='answer web-display' lang="answer">回复</div>
                            <div class='app-answer app-display' lang="answer">回复</div>
                            <div class='comment_type' style='display: none'>parent</div>
                            <div class='delete' lang="delete">删除</div>
                        </div>
                        <div class='comment_bottmo'>
                            <div class='answer_box' contenteditable='true' data-placeholder='What do you want to say?'></div>
                            <div class='answer_btn_box'>
                                <div class='answer_btn' lang="comment">评论</div>
                            </div>
                        </div>
                    </div>
                    `
        }
        function filterTime(item) {
            return  resTime = formatDateFilter(item)
        }
        function showHeaderIcon(item) {
            if (item.headerIcon != '' && item.headerIcon != null) {
                return `
                    <img class='commentator_img' src='/${ item.headerIcon }'>
                `
            } else {
                console.log(item)
                return `<span class='item-random-color commentator_user_name' article-commentUserName='${item.commentUserName}' style='background: rgb(97, 99, 103);'>${item.commentUserName.substring(0, 1)}</span>`;
            }
        }
        function forChileComment(item) {
            if (item.length < 1) return ' '
            let childComment = ''
            item.forEach(childItem => {
                childComment += childrenRenderComment(childItem)
            })
            return childComment
        }
        function isNewComment(item) {
            console.log(item)
            return `
                <div class='child_comment_id del_comment_id' style='display:none'>${ item.commentId }</div>
                <div class='comment_userId' style='display:none'>${ $.cookie('userId') }</div>
            `
        }
        function childrenRenderComment(item) {
            return `
                <div class='children_commentator_box'>
                    <div class='comment_item childer_item'>
                        <div class='comment_top'>
                            <div class='commentator_name children_commentator_name'>${ item.commentUserName }</div>
                            <div class='comment_time time''>${ filterTime(item.commentTime) }</div>
                        </div>
                        ${ isNewComment(item) }
                        <div class='coment_mid'>
                            @<span class='reply_man'>${ item.commentatorName }</span>
                            ${ item.commentContent }
                        </div>
                        <div class='eidt_answer'>
                            <div class='answer web-display' lang="answer">回复</div>
                            <div class='app-answer app-display' lang="answer">回复</div>
                            <div class='comment_type' style='display: none'>child</div>
                            <div class='delete' lang="delete">删除</div>
                        </div>
                    </div>
                </div>
            `
        }
    </script>
</html>